[Unit]
Description=FreeScore Recognized (World Class) Poomsae Scoring Service

[Documentation]
Documentation=https://github.com/mikewongtkd/freescoretkd

[Service]
ExecStart=/usr/local/bin/hypnotoad /usr/local/freescore/bin/worldclass
WorkingDirectory=/usr/local/freescore
Type=forking
PIDFile=/run/freescore/worldclass.pid

[Install]
WantedBy=multi-user.target
