
body {
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
}

@import 'dropdown';

.judgeController {
	font-family: Optima;
	width: 800px;
	height: 600px;
	margin: 0 auto 0 auto;
	background: linear-gradient(to top, #45484d 0%,#000000 100%); /* W3C */
	border-radius: 24pt;
	border: 4px solid white;

	.controller {
		width: 760px;
		height: 80px;
		margin: 20px auto 20px auto;

		.button {
			float: left;
			height: 60px;
			border-radius: 12pt;
			color: white;
			text-align: center;
			line-height: 60px;
			margin: 0 10px 0 10px;
			.label { vertical-align: middle; }
		}

		.action {
			width: 160px;
			border: 4px solid orange;
			background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
			color: black;
		}

		.division {
			width: 160px;
			border: 4px solid green;
			background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
		}

		.athlete {
			width: 160px;
			border: 4px solid blue;
			background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
		}

		.mode {
			width: 160px;
			border: 4px solid yellow;
			background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%); /* W3C */
			color: black;
		}

	}
	.select {
		width: 600px;
		select { font-size: 24pt; }
		margin: 0 auto 0 auto;
	}
	.name {
		width: 760px;
		height: 80px;
		margin: 20px auto 20px auto;
		text-align: center;
		font-size: 48pt;
		color: white;
		
	}
}
