.scorekeeper {
  font-family: Optima;
  display: none; }
  .scorekeeper .judgeScores {
    width: 1000px;
    height: 180px;
    margin: 0 auto 20px auto; }
  .scorekeeper .judges5 {
    width: 184px; }
    .scorekeeper .judges5 .judge {
      font-size: 24pt; }
    .scorekeeper .judges5 .score {
      font-size: 72pt;
      line-height: 108pt; }
  .scorekeeper .judges3 {
    width: 320px; }
    .scorekeeper .judges3 .judge {
      font-size: 24pt; }
    .scorekeeper .judges3 .score {
      font-size: 108pt;
      line-height: 108pt; }
  .scorekeeper .left {
    margin: 0 10px 0 0; }
  .scorekeeper .middle {
    margin: 0 10px 0 10px; }
  .scorekeeper .right {
    margin: 0 0 0 10px; }
  .scorekeeper .judgeScore {
    display: inline-block;
    text-align: center;
    height: 180px;
    font-weight: bold; }
    .scorekeeper .judgeScore .judge {
      color: #666;
      font-weight: bold;
      border-radius: 0 0 24px 24px;
      background-color: black;
      margin: 0 auto 0 auto;
      height: 40px; }
    .scorekeeper .judgeScore .score {
      color: white;
      font-weight: bold;
      border-radius: 24px 24px 0 0;
      background-color: black;
      margin: auto;
      height: 140px; }
  .scorekeeper .ignore .judge {
    color: #333; }
  .scorekeeper .ignore .score {
    color: #333; }
  .scorekeeper .totalScores {
    text-align: center;
    height: 540px;
    width: 1000px;
    font-weight: bold;
    color: white;
    border-radius: 24px;
    background: linear-gradient(to top, #45484d 0%, black 100%);
    /* W3C */
    margin: 0 auto 0 auto; }
    .scorekeeper .totalScores .red, .scorekeeper .totalScores .hong {
      color: red; }
    .scorekeeper .totalScores .blue, .scorekeeper .totalScores .chung {
      color: blue; }
    .scorekeeper .totalScores .athlete {
      margin: 20px 0 0 0;
      height: 120px;
      font-size: 72pt;
      line-height: 72pt; }
    .scorekeeper .totalScores .score {
      height: 400px;
      font-size: 360pt;
      line-height: 360pt; }
