#pt-main {

  $maxwidth:  1024px;
  $maxheight:  600px;

  width: $maxwidth;
  height: $maxheight;
}

#score-accuracy, #score-presentation, #display-division {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    z-index: 1;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    border: 4px solid white;
    background: linear-gradient(to bottom, #35383d 0%,#000000 100%);
    font-size: 16pt;
    line-height: 18pt;
    color: #999;

    .div-summary {
      .divid       { color: white; }
      .description { color: #ccc; }
    }
    .match-summary {
      .round-name   { color: gold; }
      .match-number { color: lime; }
      .form-name    { color: cyan; }
    }
  }

  .common {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .flip {
      $width: 80px;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX( -50% );
      width: $width;
      height: 34px;
      font-size: 14pt;
      color: white;
      border-radius: calc( $width / 8 );
      border: 2px solid white;
      text-align: center;
    }

    .jid {
      $size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX( -50% ) translateY( -50% );
      width: $size;
      height: $size;
      border-radius: calc( $size / 2 );
      border: 4px solid white;
      background: linear-gradient(to bottom, #35383d 0%,#000000 100%);
      font-size: 26pt;
      line-height: 40pt;
      text-align: center;
      color: gold;
    }

    .next {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX( -50% );
      width: 40%;
      height: 40px;
      font-size: 16pt;
      line-height: 14pt;
      color: black;
      border-radius: 16px;
      background: linear-gradient(to bottom, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
      border: 4px solid green;
    }
  }
}
.chung-right {
  .common {
    .flip {
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(0,28,255,1) 0%, rgba(22,12,120,1) 50%, rgba(118,12,12,1) 51%, rgba(255,0,0,1) 100%);
    }
  }
}
.chung-left {
  .common {
    .flip {
      background: linear-gradient(-90deg, rgba(36,0,0,1) 0%, rgba(0,28,255,1) 0%, rgba(22,12,120,1) 50%, rgba(118,12,12,1) 51%, rgba(255,0,0,1) 100%);
    }
  }
}


