
body {
  background: black;
  background: linear-gradient(to bottom, #35383d 0%,#000000 100%);
  font-family: BioLinum;
  overflow: hidden;
}

@import 'common';

#score-accuracy {
  touch-action: manipulation;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  .accuracy {
    position: absolute;
    top: 0;

    .buttons {
      position: absolute;
      top: 20%;
      height: 75%;
      width: 40%;
      border-radius: 36px;
      border: 4px solid white;
      background: linear-gradient(to bottom, #35383d 0%, #000000 100%);
      z-index: 1;

      .btn-major, .btn-minor {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 10%;
        right: 10%;
        width: 80%;
        border-radius: 16px;
        color: black;

        &.add {
          font-size: 36pt;
        }

        &.remove {
          height: 10%;
          font-size: 18pt;
        }
      }

      .btn-major{
        &.add {
          top: 22%;
          height: 20%;
        }
        &.remove {
          top: 6%;
        }
      }

      .btn-minor {
        &.add {
          top: 48%;
          height: 30%;
        }
        &.remove {
          top: 84%;
        }
      }
    }

    .score {
      position: absolute;
      top: 20%;
      width: 40%;
      height: 30%;
      border-radius: 36px;
      border: 4px solid white;
      background: linear-gradient(to bottom, #35383d 0%, #000000 100%);

      .total, .subtotal {
        text-align: center;
        color: white;

        label {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX( -50% );
          color: gold;
          font-size: 10pt;
        }
      }

      .total {
        position: absolute;
        top: 0;
        width: 100%;
        height: 56.25%;
        border-bottom: 4px solid white;
        font-size: 48pt;
      }

      .subtotal {
        position: absolute;
        width: 50.5%;
        height: 43.75%;
        top: 56.25%;
        font-size: 44pt;
      }
    }

    .athlete {
      position: absolute;
      top: 60%;
      width: 40%;
      text-align: center;

      .name {
        width: 100%;
        color: white;
        font-size: 18pt;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 5%;
      }

      img {
        width: 30%;
      }
    }

    &.chung, &.hong {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
    }

    &.chung {

      background: rgb(36,0,0);
      background: linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(0,4,36,1) 0%, rgba(22,12,120,1) 85%, rgba(15,11,89,1) 100%);

      .btn-major {
        background: linear-gradient(0deg, rgba(0,0,93,1) 0%, rgba(0,1,134,1) 50%, rgba(0,6,215,1) 51%, rgba(0,5,185,1) 100%);
        border: 4px solid navy;
        color: white;
      }

      .btn-minor {
        background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        border: 4px solid blue;
      }

    }
    &.hong {
      background: rgb(36,0,0);
      background: linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(120,12,12,1) 85%, rgba(89,11,11,1) 100%);

      .btn-major {
        background: linear-gradient(0deg, rgba(93,0,0,1) 0%, rgba(134,0,0,1) 50%, rgba(215,0,0,1) 51%, rgba(185,0,0,1) 100%);
        border: 4px solid darkred;
        color: white;
      }

      .btn-minor {
        background: linear-gradient(to bottom, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
        border: 4px solid red;
      }
    }
  }
  &.chung-right {
    .chung { 
      right: 0; 
      .buttons { right: 5%; }
      .score { 
        left: 10%; 
        .accuracy { right: 0; border-left: 3px solid white; }
        .presentation { left: 0; border-right: 3px solid white; }
      }
      .athlete { left: 10%; }
    }
    .hong  { 
      left:  0; 
      .buttons { left: 5%; }
      .score { 
        right: 10%; 
        .accuracy { left: 0; border-right: 3px solid white; }
        .presentation { right: 0; border-left: 3px solid white; }
      }
      .athlete { right: 10%; }
    }
  }
  &.chung-left {
    .chung { 
      left:  0; 
      .buttons { left: 5%; }
      .score { 
        right: 10%; 
        .accuracy { left: 0; border-right: 3px solid white; }
        .presentation { right: 0; border-left: 3px solid white; }
      }
      .athlete { right: 10%; }
    }
    .hong  { 
      right: 0; 
      .buttons { right: 5%; }
      .score { 
        left: 10%; 
        .accuracy { right: 0; border-left: 3px solid white; }
        .presentation { left: 0; border-right: 3px solid white; }
      }
      .athlete { left: 10%; }
    }
  }
}

@import '../../../../include/css/fonts';
@import 'header';


