
body {
  background: black;
  background: linear-gradient(to bottom, #35383d 0%,#000000 100%);
  font-family: BioLinum;
  overflow: hidden;
}

@import 'common';

#score-accuracy {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  .accuracy {
    position: absolute;
    top: 0;

    .buttons {
      position: absolute;
      top: 20%;
      height: 75%;
      width: 40%;
      border-radius: 36px;
      border: 4px solid white;
      background: linear-gradient(to bottom, #35383d 0%, #000000 100%);
      text-align: center;

      .btn-major, .btn-minor {
        width: 80%;
        border-radius: 16px;
        color: black;
        margin-top: 16%;

        &.add {
          font-size: 36pt;
        }

        &.remove {
          height: 40px;
          font-size: 18pt;
          line-height: 16pt;
        }
      }

      .btn-major{
        &.add {
          height: 80px;
          line-height: 46pt;
        }
        &.remove {
        }
      }

      .btn-minor {
        &.add {
          height: 120px;
          line-height: 76pt;
        }
        &.remove {
        }
      }
    }

    &.chung, &.hong {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
    }

    &.chung {

      background: rgb(36,0,0);
      background: linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(0,4,36,1) 0%, rgba(22,12,120,1) 85%, rgba(15,11,89,1) 100%);

      .btn-major {
        background: linear-gradient(0deg, rgba(0,0,93,1) 0%, rgba(0,1,134,1) 50%, rgba(0,6,215,1) 51%, rgba(0,5,185,1) 100%);
        border: 4px solid navy;
        color: white;
      }

      .btn-minor {
        background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        border: 4px solid blue;
      }

    }
    &.hong {
      background: rgb(36,0,0);
      background: linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(120,12,12,1) 85%, rgba(89,11,11,1) 100%);

      .btn-major {
        background: linear-gradient(0deg, rgba(93,0,0,1) 0%, rgba(134,0,0,1) 50%, rgba(215,0,0,1) 51%, rgba(185,0,0,1) 100%);
        border: 4px solid darkred;
        color: white;
      }

      .btn-minor {
        background: linear-gradient(to bottom, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
        border: 4px solid red;
      }
    }
  }
  &.chung-right {
    .chung { 
      right: 0; 
      .buttons { right: 5%; }
    }
    .hong  { 
      left:  0; 
      .buttons { left: 5%; }
    }
  }
  &.chung-left {
    .chung { 
      left:  0; 
      .buttons { left: 5%; }
    }
    .hong  { 
      right: 0; 
      .buttons { right: 5%; }
    }
  }
}

@import '../../../../include/css/fonts';
@import 'header';


