
body {
  background: black;
  background: linear-gradient(to bottom, #35383d 0%,#000000 100%);
  font-family: BioLinum;
  overflow: hidden;
}

@import 'common';
@import 'accuracy';
@import 'presentation';

@import '../../../../include/css/fonts';
@import 'header';


