#display-draw {
  overflow: hidden;

  .poomsae.draw {
    width: 100%;
    height: 100%;
    color: white;

    .name {
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      text-align: center;
      font-size: 246pt;
      &.drawn {
        color: gold;
		background: linear-gradient( -60deg, #FFF 5%, gold 10%, gold 90%, #FFF 95%);       background-size: 200% auto; background-clip: text;
        border-radius: 96pt;
        border: 8px solid gold;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        animation: shine 2s linear infinite;
        @keyframes shine {
          to {
            background-position: 200% center;
          }
        }
      }
    }
  }
}
