
body {
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
}

.grassroots {
	@import 'scoreKeeper';
	@import 'leaderBoard';
	margin: 0 auto 0 auto;
	width: 1000px;
}

.usermessage {
	font-family: Optima;
	font-size: 24pt;
	color: #ccc;
	display: none;
	border: 8px solid red;
	border-radius: 24px;
	width: 934px;
	margin: 80px auto 80px auto;
	padding: 0 32px 32px 32px;
	h1 {
		color: white;
	}
	code {
		color: gold;
		font-size: 18pt;
	}
}

.enter-down-bounce {
	-webkit-animation: enterDownBounce 1s linear;
}

.leave-up-bounce {
	-webkit-animation: leaveUpBounce 1s linear;
}

@-webkit-keyframes enterDownBounce {
	0%   { -webkit-transform: translateY( -600px ); opacity: 0.25; }
	50%  { -webkit-transform: translateY( 0px ); }
	70%  { -webkit-transform: translateY( -50px ); }
	100% { -webkit-transform: translateY( 0px ); opacity: 1; }
}

@-webkit-keyframes leaveUpBounce {
	0%   { -webkit-transform: translateY( 0px ); opacity: 1; }
	10%  { -webkit-transform: translateY( 50px ); opacity: 1; }
	25%  { -webkit-transform: translateY( 0px ); }
	100% { -webkit-transform: translateY( -900px ); opacity: 0; }
}

