body {
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%); }

.grassroots {
  margin: 0 auto 0 auto;
  width: 1000px; }
  .grassroots .scoreboard {
    font-family: Optima; }
    .grassroots .scoreboard .judgeScores {
      width: 1000px;
      height: 180px;
      margin: 0 0 20px 0; }
    .grassroots .scoreboard .judges5 {
      width: 176px; }
      .grassroots .scoreboard .judges5 .judge {
        font-size: 24pt; }
      .grassroots .scoreboard .judges5 .score {
        font-size: 72pt;
        line-height: 108pt; }
    .grassroots .scoreboard .judges3 {
      width: 312px; }
      .grassroots .scoreboard .judges3 .judge {
        font-size: 24pt; }
      .grassroots .scoreboard .judges3 .score {
        font-size: 108pt;
        line-height: 108pt; }
    .grassroots .scoreboard .left {
      margin: 0 10px 0 0; }
    .grassroots .scoreboard .middle {
      margin: 0 10px 0 10px; }
    .grassroots .scoreboard .right {
      margin: 0 0 0 10px; }
    .grassroots .scoreboard .judgeScore {
      display: inline-block;
      text-align: center;
      height: 172px;
      font-weight: bold;
      border-radius: 24px;
      border: 4px solid white; }
      .grassroots .scoreboard .judgeScore .judge {
        color: #666;
        font-weight: bold;
        border-radius: 0 0 24px 24px;
        background-color: black;
        margin: 0 auto 0 auto;
        height: 40px; }
      .grassroots .scoreboard .judgeScore .score {
        color: yellow;
        font-weight: bold;
        border-radius: 24px 24px 0 0;
        background-color: black;
        margin: auto;
        height: 132px; }
    .grassroots .scoreboard .ignore .judge {
      opacity: 0.25; }
    .grassroots .scoreboard .ignore .score {
      position: relative;
      opacity: 0.25; }
      .grassroots .scoreboard .ignore .score::after {
        opacity: 0.75;
        border-bottom: 8px solid yellow;
        content: "";
        position: absolute;
        left: 10%;
        top: 50%;
        right: 10%; }
    .grassroots .scoreboard .totalScores {
      font-family: HelveticaNeue-CondensedBold;
      text-align: center;
      height: 532px;
      width: 992px;
      font-weight: bold;
      color: lime;
      border-radius: 24px;
      border: 4px solid white;
      background: linear-gradient(to top, #45484d 0%, #000000 100%); }
      .grassroots .scoreboard .totalScores .red, .grassroots .scoreboard .totalScores .hong {
        color: #f66; }
      .grassroots .scoreboard .totalScores .blue, .grassroots .scoreboard .totalScores .chung {
        color: #66f; }
      .grassroots .scoreboard .totalScores .athlete {
        margin: 20px 0 0 0;
        height: 120px;
        font-size: 72pt;
        line-height: 72pt; }
      .grassroots .scoreboard .totalScores .score {
        height: 400px;
        font-size: 360pt;
        line-height: 360pt; }
      .grassroots .scoreboard .totalScores .notes {
        font-size: 36pt; }
  .grassroots .leaderboard {
    font-family: Optima;
    color: white;
    display: none;
    overflow-x: hidden;
    overflow-y: auto; }
    .grassroots .leaderboard .division {
      width: 985px;
      height: 709px; }
      .grassroots .leaderboard .division .standings {
        float: left;
        width: 400px;
        height: 709px;
        color: yellow;
        font-size: 24pt;
        background: linear-gradient(to top, #45484d 0%, #000000 100%);
        /* W3C */
        border: 4px solid white;
        border-radius: 24px;
        padding: 0 32px 8px 32px; }
        .grassroots .leaderboard .division .standings .rank1 {
          color: rgba(255, 204, 0, 0.1);
          background: #fc0 -webkit-gradient(linear, left top, right top, from(#fc0), to(#fc0), color-stop(0.5, #fff)) 0 0 no-repeat;
          -webkit-background-size: 125px;
          -webkit-background-clip: text;
          -webkit-animation-name: shine;
          -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite; }
        .grassroots .leaderboard .division .standings .rank2 {
          color: rgba(204, 204, 204, 0.1);
          background: #ccc -webkit-gradient(linear, left top, right top, from(#ccc), to(#ccc), color-stop(0.5, #fff)) 0 0 no-repeat;
          -webkit-background-size: 125px;
          -webkit-background-clip: text;
          -webkit-animation-name: shine;
          -webkit-animation-duration: 1.5s;
          -webkit-animation-iteration-count: infinite; }
        .grassroots .leaderboard .division .standings .rank3 {
          color: rgba(204, 102, 0, 0.1);
          background: #c60 -webkit-gradient(linear, left top, right top, from(#c60), to(#c60), color-stop(0.5, #fff)) 0 0 no-repeat;
          -webkit-background-size: 125px;
          -webkit-background-clip: text;
          -webkit-animation-name: shine;
          -webkit-animation-duration: 2.5s;
          -webkit-animation-iteration-count: infinite; }
        .grassroots .leaderboard .division .standings .rank4 {
          color: rgba(204, 102, 0, 0.1);
          background: #c60 -webkit-gradient(linear, left top, right top, from(#c60), to(#c60), color-stop(0.5, #fff)) 0 0 no-repeat;
          -webkit-background-size: 125px;
          -webkit-background-clip: text;
          -webkit-animation-name: shine;
          -webkit-animation-duration: 3s;
          -webkit-animation-iteration-count: infinite; }
        .grassroots .leaderboard .division .standings .athlete {
          clear: both; }
          .grassroots .leaderboard .division .standings .athlete .name {
            float: left;
            width: 70%;
            font-weight: bold; }
          .grassroots .leaderboard .division .standings .athlete .score {
            color: lime;
            float: left;
            width: 20%; }
            .grassroots .leaderboard .division .standings .athlete .score .notes {
              display: inline-block;
              text-align: left;
              width: 30px;
              opacity: 0.5; }
          .grassroots .leaderboard .division .standings .athlete .medal {
            float: left;
            width: 10%; }
      .grassroots .leaderboard .division .pending {
        float: right;
        width: 400px;
        height: 709px;
        color: #999;
        font-size: 24pt;
        background: linear-gradient(to top, #45484d 0%, #000000 100%);
        /* W3C */
        border: 4px solid white;
        border-radius: 24px;
        padding: 0 32px 8px 32px; }
        .grassroots .leaderboard .division .pending h2 {
          color: yellow; }
        .grassroots .leaderboard .division .pending ol li {
          margin-left: 40px; }
          .grassroots .leaderboard .division .pending ol li b {
            color: lime;
            font-weight: bold; }
@-webkit-keyframes shine {
  0% {
    background-position: top left; }
  100% {
    background-position: top right; } }
.usermessage {
  font-family: Optima;
  font-size: 24pt;
  color: #ccc;
  display: none;
  border: 8px solid red;
  border-radius: 24px;
  width: 934px;
  margin: 80px auto 80px auto;
  padding: 0 32px 32px 32px; }
  .usermessage h1 {
    color: white; }
  .usermessage code {
    color: gold;
    font-size: 18pt; }

.enter-down-bounce {
  -webkit-animation: enterDownBounce 1s linear; }

.leave-up-bounce {
  -webkit-animation: leaveUpBounce 1s linear; }

@-webkit-keyframes enterDownBounce {
  0% {
    -webkit-transform: translateY(-600px);
    opacity: 0.25; }
  50% {
    -webkit-transform: translateY(0px); }
  70% {
    -webkit-transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes leaveUpBounce {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1; }
  10% {
    -webkit-transform: translateY(50px);
    opacity: 1; }
  25% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-900px);
    opacity: 0; } }

/*# sourceMappingURL=judgeController.scss.map */
