.judgeNotes {
	position: absolute;
	left: 540px;
	border: 4px solid #999;
	border-radius: 8px;
	color: #999;
	font-size: 18pt;
	width: 320px;
	height: 320px;
	overflow: hidden;

	.view {
		width: 320px;
		height: 320px;
		overflow-y: auto;

		.description {
			font-size: 10pt;
			color: #fff;
			overflow-x: hidden;
			padding: 4px;
			background: #333;
			text-align: center;
		}

		table {
			border: 0;
			border-spacing: 0;
			border-collapse: collapse;
			color: #999;
			font-size: 18pt;
			width: 100%;

			th {
				color: #999;
				text-align: left;
				padding: 0 8px 8px 8px;
			}

			td {
				padding: 4px 8px 4px 8px;
				font-size: 18pt;
			}

			td-order { width: 20%; }
			td-name  { width: 50%; }
			td-score { width: 30%; }

			.current {
				background: #666;
				color: white;
			}
		}
	}
}

