#display-score, #display-bracket, #display-results, #display-matches, #display-leaderboard {
  $header_height: 100px;
  .header {
    width: 100%;
    color: #999;

    h1 {
      text-align: center;
      font-size: 4em;

      .divid {
        color: white;
      }
      .description {
        color: #ccc;
      }
    }

    h2 {
      text-align: center;
      color: #666;
      font-size: 3em;

      .round-name { color: gold; }
      .match-number { color: lime; }
      .form-name { color: cyan; }
    }
  }
}
