#display-matches, #display-bracket {
  $header_height: 100px;
  .header {
    width: 100%;
    color: #999;

    h1 {
      text-align: center;
      font-size: 4em;

      .divid {
        color: white;
      }
      .description {
        color: #ccc;
      }
    }

    h2 {
      text-align: center;
      color: gold;
      font-size: 3em;
    }
  }
}
