@font-face {
	font-family: Nimbus;
	src: url( '/freescore/include/fonts/nimbus-sans-l_bold-condensed.ttf' );
}
@font-face {
	font-family: Biolinum;
	font-weight: bold;
	src: url( '/freescore/include/fonts/LinBiolinum_Rah.ttf' );
}

:root {
	--actions-panel-width: 240px;
}

.ui-header {
	height: 48px;
	.ui-title {
		font-size: 18pt;
		line-height: 8pt;
		color: gold;
	}
}

.ui-radio { input[type=radio] { display: none !important; }}

.divisions {
	.current  { 
		color: gold; 
		background: #6facd5; 
		background: -webkit-linear-gradient( to top, #497bae 0%, #6facd5 100% ); 
		background: linear-gradient( to top, #497bae 0%, #6facd5 100% ); 
		text-shadow: 2px 2px #497bae; 
		.title { color: white; }
		p { b { color: white; } color: #eee; }

		&:hover {
			color: gold;
			text-shadow: 2px 2px teal; 
			.title { color: yellow; }
			p { b { color: gold; } color: yellow; }
		}
	}
	.ring {
		font-weight: light;
		font-size: 9pt;
		text-shadow: none;
		color: black;
		float: right;
		padding: 2px 4px 2px 4px;
		background-color: #eee;
		border: 1px solid rgba( 0, 0, 0, 0.2 );
		border-radius: 4px;
		margin-top: 5px;
	}

	.create {
		background: #9dd53a;
		background: -webkit-linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
		background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
	}

	.divider {
		background: #45484d;
		background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
		background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	}

	.transfer-to-ring {
		background: #9dd53a;
		background: -webkit-linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
		background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
		border-color: green;
	}

	.transfer-to-staging {
		background: red;
		background: -webkit-linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
		background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
		border-color: #900;
	}
}

.ui-filterable {
	margin: 0;
	padding: 0 12px 0 12px;
}

table { margin: 10px; padding: 4px; border: 1px solid #ccc; border-radius: 4px; background-color: white; }
.rounds { width: calc( 100% - var( --actions-panel-width )); }
.athletes {
	font-family: Optima, Nimbus; 
	width: calc( 100% - (var( --actions-panel-width ) + 20px));
	tr { height: 32px; }
	th { 
		font-size: 9pt; 
		text-align: left; 
	}
	.order    { 
		color: #ccc;
		width :  34px; 
		font-size:  12pt; 
		text-align: right; 
		padding-right: 6px;
	}
	.name     { 
		width : calc( 100% - ( var( --actions-panel-width ) + 40px)); 
		font-size:  16pt; 
		input[type=search], input[type=text] {
			font-family: Optima;
			background: transparent;
			border: none;
			width: calc( 100% - 240px ); 

			&:focus {
				outline: none;
				// border-bottom: 1px solid #6facd5;
			}
		}
	}
	.oneform  { width : 100px; text-align: left; padding-left: 20px; }
	.twoforms { width :  40px; text-align: left; padding-left: 20px; }
	.ordinal  { color: silver; }
	.form     { color: gold; }
	.complete { color: rgba( 0, 0, 0, 0.4 ); }
	.current  { 
		background: #6facd5; 
		background: -webkit-linear-gradient( to top, #497bae 0%, #6facd5 100% ); 
		background: linear-gradient( to top, #497bae 0%, #6facd5 100% ); 
		text-shadow: 2px 2px #497bae; 
		td {
			color: gold; 
		}
	}
}

.actions  {
	position: fixed;
	top: 32px;
	left: calc( 100% - var( --actions-panel-width ) );
	width: var( --actions-panel-width );
	height: 100%;
	background: #ccc;

	fieldset {
		margin: 16px;
	}

	legend { 
		margin: 0 0 0 8px; 
		text-shadow: none;
		border-bottom: none;
	}

	.navigation {
		color: white;
		text-shadow: none;
		border-color: blue;
		background: #6db3f2;
		background: -webkit-linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
		background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	}

	.timer {
		color: white;
		font-size: 36px;
		line-height: 36px;
		font-family: HelveticaNeue-CondensedBold, Nimbus;
		text-shadow: none;
		background: #4c4c4c;
		background: -webkit-linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
		background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
		border-color: black;
		padding: 4px 0 16px 0;

		&:hover {
			color: white;
			background: #4c4c4c;
			background: -webkit-linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
			background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
			border-color: black;
		}
	}

	.start {
		color: white;
		text-shadow: none;
		background: #9dd53a;
		background: -webkit-linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
		background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
		border-color: green;
	}

	.stop {
		color: black;
		text-shadow: none;
		background: #fceabb;
		background: -webkit-linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
		background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
		border-color: gold;
	}

	.penalty {
		color: white;
		text-shadow: none;
		background: #ffb76b;
		background: -webkit-linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
		background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
		border-color: orange;
	}

	.punitive {
		color: white;
		text-shadow: none;
		background: red;
		background: -webkit-linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
		background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
		border-color: #900;
	}
}
