.athlete {
	.current  { background: #05e870; background: -webkit-linear-gradient( to top, #497bae 0%, #6facd5 100% ); background: linear-gradient( to top, #497bae 0%, #6facd5 100% ); text-shadow: 2px 2px #497bae; }
	.complete { color: rgba( 0, 0, 0, 0.4 ); }
}
