
html, body { 
	height: 100%; 
	overflow-x: hidden; 
	font-family: Optima;
}

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.pt-page-ontop {
	z-index: 999;
}

.page-header {
	position: relative;
	height: 48px;
	width: 100%;
	margin: 10px 0 16px 0;
	padding: 8px 14px 8px 14px;
	background-color: black;
	color: gold;
	font-size: 24pt;
	line-height: 24pt;
	font-weight: bold;
	border-radius: 4px;

	label[for=judges] {
		font-size: 16px;
		color: #ccc;
		text-align: top;

	}

}

.judges {
	button {
		&.disabled {
			background-color: #eee;
			color: #aaa;
		}
	}
}

#judge-scores {
	table {
		width: 100%;

		td, th {
			font-size: 10pt;
			text-align: center;
			.btn-xs {
				padding: 0 8px 2px 8px;
			}
		}
		.acc { color: #d9534f; }
		.pre { color: #337ab7; }
		.sum { color: #999; }
		.ignore { 
			text-decoration: line-through;
			opacity: 0.2;
		}
	}
}

#back-to-divisions {
	margin-top: -3px;
}

#athletes {
	height: 600px;
	overflow-y: auto;

	.list-group-item {
		padding-top: 10px;
		padding-bottom: 6px;
	}
}

.athlete-name {
	position: relative;
	display: inline-block;
	width: 65%;
	font-size: 14pt;
	line-height: 14pt;
	&:before {
		font-size: 10pt;
		display: inline-block;
		width: 60px;
		content: ''
	}
}

.decision-punitive-header {
	background-color: #d9534f !important;
	color: white !important;
}

.athlete-penalties {
	display: inline-block;
	position: relative;
	width: 20%;
	text-align: right;
	color: white;

	.penalty {
		width: 33.3%;
	}
}

.athlete-score {
	display: inline-block;
	position: relative;
	width: 12%;
	margin-left: 3%;
	text-align: right;
	.score, .decision { display: inline-block; width: 45%; }
	.decision     { font-weight: bold; }
	.accuracy     { color: #600; }
	.presentation { color: #006; }
	.total        { color: #666; }
}

.tab-pane {
	padding: 20px;
}

a.active {
	h4 { 
		font-weight: bold; 
		color: gold; 
	}
	b  { color: gold; }
	.athlete-name:before {
		content: 'Current';
		color: gold;
	}
	.athlete-score {
		.accuracy     { color: #fcc; }
		.presentation { color: #ccf; }
		.total        { color: #fff; }
	}
}

.on-deck .athlete-name:before {
	content: 'On Deck';
	color: #aaa;
}

.selected-athlete {
	background-color: gold !important;
	.athlete-name:before { color: #666; }
}

.row {
	margin-left: -15px;
	width: calc( 100% + 30px );
	h4 { margin-left: 8px; }
}

.action-menu {
	.list-group-item {
		span { margin-right: 12px; }
	}
	.navigate-division, .navigate-athlete {
		.list-group-item {
			background-color: #337ab7;
			border-color: #2e6da4;
			color: white;
		}
	}
	.administration {
		p { 
			margin: 0 8px 0 8px; 
			font-size: 9pt; 
		}
		.list-group-item {
			background-color: #5bc0de;
			border-color: #46b8da;
			color: white;
		}
	}
	.decision {
		.list-group-item {
			background-color: #d9534f;
			border-color: #d43f3a;
		    color: white;
		}
	}
	.penalties {
		.list-group-item {
			background-color: #f0ad4e;
			border-color: #eea236;
			color: white;
		}
	}
}
