body {
  background: black;
  background: -webkit-linear-gradient(to bottom, #45484d 0%, #000000 100%);
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%); }

.judgeNotes {
  border: 4px solid white;
  border-radius: 24px;
  background: black;
  background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
  background: linear-gradient(to top, #45484d 0%, #000000 100%);
  color: #999;
  font-size: 18pt;
  width: 572px;
  height: 580px;
  overflow: hidden;
  margin: 6px 6px 18px 6px; }
  .judgeNotes .view {
    width: 572px;
    height: 580px;
    overflow-y: auto; }
    .judgeNotes .view table {
      border: 0;
      border-spacing: 0;
      border-collapse: collapse;
      color: #999;
      font-size: 18pt;
      width: 100%; }
      .judgeNotes .view table th {
        color: #999;
        font-size: 12pt;
        text-align: left;
        padding: 0 8px 8px 8px; }
      .judgeNotes .view table td {
        padding: 4px 8px 4px 8px;
        font-size: 18pt; }
      .judgeNotes .view table .order {
        width: 28px;
        color: #666; }
      .judgeNotes .view table .name {
        width: 286px; }
      .judgeNotes .view table .form {
        width: 172px; }
        .judgeNotes .view table .form .accuracy {
          color: #f99; }
        .judgeNotes .view table .form .presentation {
          color: #99f; }
      .judgeNotes .view table .form1 {
        width: 86px; }
        .judgeNotes .view table .form1 .accuracy {
          color: #f99; }
        .judgeNotes .view table .form1 .presentation {
          color: #99f; }
      .judgeNotes .view table .form2 {
        width: 86px; }
        .judgeNotes .view table .form2 .accuracy {
          color: #f99; }
        .judgeNotes .view table .form2 .presentation {
          color: #99f; }
      .judgeNotes .view table .average {
        width: 86px; }
      .judgeNotes .view table .current {
        background: #606c88;
        background: -webkit-linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
        background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
        color: white; }
        .judgeNotes .view table .current .accuracy {
          color: #fcc; }
        .judgeNotes .view table .current .presentation {
          color: #ccf; }

.flippable .card, .flippable .front, .flippable .back {
  width: 600px;
  height: 800px; }
.flippable .front, .flippable .back {
  background: black;
  background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
  background: linear-gradient(to top, #45484d 0%, #000000 100%);
  border-radius: 24pt;
  border: 4px solid white; }

.coordinatorController {
  font-family: Optima;
  width: 600px;
  height: 800px;
  margin: 0 auto 0 auto; }
  .coordinatorController .front {
    position: absolute; }
    .coordinatorController .front .flip {
      position: absolute;
      font-size: 18pt;
      line-height: 128pt;
      height: 172px;
      width: 172px;
      color: white;
      border: 4px solid #93d;
      border-radius: 12px;
      background: #9560c9;
      background: -webkit-linear-gradient(to bottom, #9560c9 0%, #8746bf 50%, #5d00a5 51%, #9736d8 100%);
      background: linear-gradient(to bottom, #9560c9 0%, #8746bf 50%, #5d00a5 51%, #9736d8 100%);
      text-align: center;
      top: 20px;
      left: 10px; }
  .coordinatorController .back {
    position: absolute; }
    .coordinatorController .back .flip {
      position: absolute;
      font-size: 18pt;
      line-height: 128pt;
      height: 172px;
      width: 172px;
      color: white;
      border: 4px solid #93d;
      border-radius: 12px;
      background: #9560c9;
      background: -webkit-linear-gradient(to bottom, #9560c9 0%, #8746bf 50%, #5d00a5 51%, #9736d8 100%);
      background: linear-gradient(to bottom, #9560c9 0%, #8746bf 50%, #5d00a5 51%, #9736d8 100%);
      text-align: center;
      top: 400px;
      left: 600px; }

/*# sourceMappingURL=coordinator.css.map */
