
body {
	background: black;
	background: -webkit-linear-gradient(to bottom, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
}

.divisions {
	.custom-count-pos {
		font-size: 11px;
		font-weight: bold;
		padding: 0.2em 0.5em;
		float: right;
	}
	ol {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			&:before {
				content:counter( li );
				counter-increment: li;
				width: 40px;
				font-weight: bold;
				font-size: 72pt;
				position: absolute;
				top: 22px;
				left: 8px;
			}
			.athlete {
				.name {
					font-weight: bold;
					font-size: 14pt;
					position: absolute;
					top: 22px;
				}
			}
		}
	}
}

