
body {
	background: black;
	background: -webkit-linear-gradient(to bottom, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
}

.divisions {
	position: relative;
	font-family: Optima;

	.list {
		position: absolute;
		left:  0;
		top:   0;
		width: 200px;

		.location {
			font-family: Optima-Bold;
			font-size: 12pt;
			height: 20px;
			width: 180px;
			background: #ccc;
			padding: 6px 8px 6px 8px;
			border-top: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #333;
			border-left: 1px solid #999;
			margin-top: 4px;
		}

		ul { 
			list-style-type: none; 
			padding: 0; 
			margin: 0; 
		}

		li {
			font-family: HelveticaNeue-CondensedBold;
			font-size: 10pt;
			height: 20px;
			width: 168px;
			line-height: 14.4pt;
			color: #333;
			padding: 2px 8px 2px 20px;
			background: #ddd;
			border-top: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #333;
			border-left: 1px solid #999;
		}
	}

	.athletes {
		position: absolute;
		left:  200px;
		top:   0;
		width: 400px;
		border-radius: 16px;
		border: 8px solid #333;

		ul { 
			list-style-type: none; 
			padding: 0; 
			margin: 0; 
		}
		li { 
			padding: 0; 
			margin: 0; 
			span {
				display: inline-block;
			}
		}

		.division {
			font-family: Optima-Bold;
			font-size: 12pt;
			height: 80px;
			background: #ccc;
			padding: 6px 8px 6px 8px;
			border-top: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #333;
			border-left: 1px solid #999;
			border-radius: 16px 16px 0 0;
		}

		.athlete {
			font-family: HelveticaNeue-Thin;
			font-size: 10pt;
			height: 20px;
			padding: 2px 8px 2px 2px;
			background: #ddd;
			border-top: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #333;
			border-left: 1px solid #999;
		}
	}

	.arrow {
		position: absolute;
		width:  0;
		height: 0;

		border-top: 13px solid transparent;
		border-bottom: 13px solid transparent;
		border-right: 24px solid #333;
	}

	// background: -webkit-linear-gradient(to top, #45484d 0%,#000000 100%);
	// background: linear-gradient(to top, #45484d 0%,#000000 100%);
}

