
body {
	background: black;
	background: -webkit-linear-gradient(to bottom, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
}

.divisions {
	.custom-count-pos {
		font-size: 11px;
		font-weight: bold;
		padding: 0.2em 0.5em;
		float: right;
	}
	.form {
		color: #fc0;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			.athlete {
				display: inline-block;
				width: 100%;

				.name {
					border: 0;
					font-weight: bold;
					font-size: 14pt;
					position: absolute;
					top: 20px;
				}
				.move {
					padding: 8px;
					margin-right: 24px;
					float: left;

					.up {
						margin: 0 1px 0 0;
						border-radius: 24px 0 0 24px;
						border: 0;
						background: #ccc;
					}
					.down {
						margin: 0;
						border-radius: 0 24px 24px 0;
						border: 0;
						background: #ccc;
					}
				}
				.edit {
					margin: 8px 8px 0 0;
					border-radius: 24px;
					border: 0;
					float: right;
				}
			}
		}
	}
}

