@font-face {
	font-family: 'Lato';
	src: url( '/include/fonts/Lato-Regular.ttf' ), url( '/freescore/include/fonts/Lato-Regular.ttf' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url( '/include/fonts/Lato-Italic.ttf' ), url( '/freescore/include/fonts/Lato-Italic.ttf' );
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url( '/include/fonts/Lato-Bold.ttf' ), url( '/freescore/include/fonts/Lato-Bold.ttf' );
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url( '/include/fonts/Lato-BoldItalic.ttf' ), url( '/freescore/include/fonts/Lato-BoldItalic.ttf' );
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Biolinum';
	src: url( '/include/fonts/LinBiolinum_Rah.ttf' ), url( '/freescore/include/fonts/LinBiolinum_Rah.ttf' );
	font-weight: normal;
	font-style: normal;
}

