@font-face {
  font-family: 'Lato';
  src: url("/include/fonts/Lato-Regular.ttf"), url("/freescore/include/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/include/fonts/Lato-Italic.ttf"), url("/freescore/include/fonts/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/include/fonts/Lato-Bold.ttf"), url("/freescore/include/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/include/fonts/Lato-BoldItalic.ttf"), url("/freescore/include/fonts/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Biolinum';
  src: url("/include/fonts/LinBiolinum_Rah.ttf"), url("/freescore/include/fonts/LinBiolinum_Rah.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Barlow';
  src: url("/include/fonts/BarlowCondensed-Bold.ttf"), url("/freescore/include/fonts/BarlowCondensed-Bold.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FjallaOne';
  src: url("/include/fonts/FjallaOne-Regular.ttf"), url("/freescore/include/fonts/FjallaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/include/bootstrap/fonts/glyphicons-halflings-regular.ttf"), url("/freescore/include/bootstrap/fonts/glyphicons-halflings-regular.ttf");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: Optima, Biolinum, Lato; }

.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1200px; }

.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d; }

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1; }

.pt-page-ontop {
  z-index: 999; }

.page-header {
  position: relative;
  height: 48px;
  width: 100%;
  margin: 10px 0 16px 0;
  padding: 8px 14px 8px 14px;
  background-color: black;
  color: gold;
  font-size: 24pt;
  line-height: 24pt;
  font-weight: bold;
  border-radius: 4px; }
  .page-header label[for=judges] {
    font-size: 16px;
    color: #ccc;
    text-align: top; }

#history {
  height: 600px;
  overflow-y: auto; }
  #history .list-group-item {
    padding-top: 10px;
    padding-bottom: 6px; }

.datetime {
  position: relative;
  display: inline-block;
  width: 18%;
  font-size: 10pt;
  color: #999; }

.version {
  position: relative;
  display: inline-block;
  width: 7%;
  font-size: 14pt;
  line-height: 14pt;
  color: #999; }

.revision {
  position: relative;
  display: inline-block;
  width: 75%;
  font-size: 14pt;
  line-height: 14pt; }

.tab-pane {
  padding: 20px; }

a.active h4 {
  font-weight: bold;
  color: gold; }
a.active b {
  color: gold; }
a.active .datetime {
  color: gold; }
a.active .version {
  color: gold; }

.selected-revision {
  background-color: gold !important; }
  .selected-revision .revision:before {
    color: #666; }

.row {
  margin-left: -15px;
  width: calc( 100% + 30px ); }
  .row h4 {
    margin-left: 8px; }

.action-menu .list-group-item span {
  margin-right: 12px; }
.action-menu .administration p {
  margin: 0 8px 0 8px;
  font-size: 9pt; }
.action-menu .administration .list-group-item {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: white; }

/*# sourceMappingURL=history.css.map */
