
.leaderboard {
	width: 1000px;
	height: 720px;
	font-family: HelveticaNeue-CondensedBold;
	color: white;
	overflow: hidden;

	.division {
		width: 1000px;
		height: 720px;
		overflow: hidden;

		.placement {
			position: relative;
			height: 704px;
			color: lime;
			font-size: 24pt;
			background: linear-gradient(to top, #45484d 0%,#000000 100%); /* W3C */
			border: 4px solid white;
			border-radius: 24px;
			padding: 0 32px 8px 32px;

			h2 { color: white; }

			.rank1 { color: #fe0; }
			.rank2 { color: #ccc; }
			.rank3 { color: #f93; }
			.rank4 { color: #f93; }

			.athlete {
				position: relative;
				height: 40px;
				width: 100%;

				.name {
					color: yellow;
					position: absolute;
					left: 0;
					width: 40%;
					font-weight: bold;
				}
				.form1 {
					color: #939;
					position: absolute;
					left: 40%;
					width: 15%;
					text-align: right;
				}
				.form2 {
					color: #399;
					position: absolute;
					left: 55%;
					width: 15%;
					text-align: right;
				}
				.score {
					position: absolute;
					left: 70%;
					width: 20%;
					text-align: right;

					.notes {
						display: inline-block;
						text-align: left;
						width: 30px;
						opacity: 0.5;
					}
				}
				.medal {
					position: absolute;
					left: 90%;
					width: 10%;
				}
			}

			.header {
				font-size: 14pt;
				height: 20px;
				opacity: 0.5;
				border-bottom: 2px solid #333;
			}


		}

		.pending {
			height: 704px;
			color: #999;
			font-size: 24pt;
			background: linear-gradient(to top, #45484d 0%,#000000 100%); /* W3C */
			border: 4px solid white;
			border-radius: 24px;
			padding: 0 32px 8px 32px;
			overflow-x: hidden;
			overflow-y: auto;

			h2 { color: white; }
			ol { li { b { color: lime; font-weight: bold; } } }
		}

		.one-column   { width: 928px; }
		.two-column   { top: 0; width: 400px; h1 { font-size: 28pt; } }
		.left-column  { position: absolute; top: 0; left: 0; }
		.right-column { position: absolute; top: 0; left: 500px; }
	}
}
