.leaderboard {
  width: 1000px;
  height: 720px;
  font-family: HelveticaNeue-CondensedBold, Nimbus;
  color: white;
  overflow: hidden; }
  .leaderboard .division {
    width: 1000px;
    height: 720px;
    overflow: hidden; }
    .leaderboard .division .placement {
      position: absolute;
      width: 984px;
      font-size: 48pt;
      background: black;
      background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
      /* W3C */
      background: linear-gradient(to top, #45484d 0%, #000000 100%);
      /* W3C */
      border: 4px solid white;
      border-radius: 24px;
      padding: 0 32px 8px 32px;
      overflow-y: auto; }
      .leaderboard .division .placement h2 {
        color: white; }
      .leaderboard .division .placement .rank1 {
        color: #fe0; }
      .leaderboard .division .placement .rank2 {
        color: #ccc; }
      .leaderboard .division .placement .rank3 {
        color: #f93; }
      .leaderboard .division .placement .rank4 {
        color: #f93; }
      .leaderboard .division .placement .athlete {
        position: relative;
        height: 72px;
        width: 100%; }
        .leaderboard .division .placement .athlete .number {
          color: #999;
          font-size: 36pt;
          position: absolute;
          left: 0;
          width: 4%;
          font-weight: bold;
          overflow: hidden; }
        .leaderboard .division .placement .athlete .name {
          color: yellow;
          position: absolute;
          left: 4%;
          width: 50%;
          font-weight: bold;
          overflow: hidden; }
        .leaderboard .division .placement .athlete .form1 {
          color: #f39;
          position: absolute;
          left: 54%;
          width: 13%;
          text-align: center; }
        .leaderboard .division .placement .athlete .form2 {
          color: #39f;
          position: absolute;
          left: 68%;
          width: 13%;
          text-align: center; }
        .leaderboard .division .placement .athlete .score {
          color: lime;
          position: absolute;
          left: 80%;
          width: 20%;
          text-align: center; }
          .leaderboard .division .placement .athlete .score .notes {
            font-size: 24pt;
            color: green;
            display: inline-block; }
        .leaderboard .division .placement .athlete .medal {
          position: relative;
          left: 0;
          top: 16px;
          width: 0; }
      .leaderboard .division .placement .results {
        line-height: 64pt; }
      .leaderboard .division .placement .header {
        font-size: 14pt;
        line-height: 14pt !important;
        height: 20px;
        opacity: 0.7;
        border-bottom: 2px solid #666;
        vertical-align: top; }
    .leaderboard .division .pending {
      position: absolute;
      width: 984px;
      color: #999;
      font-size: 24pt;
      background: black;
      background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
      /* W3C */
      background: linear-gradient(to top, #45484d 0%, #000000 100%);
      /* W3C */
      border: 4px solid white;
      border-radius: 24px;
      padding: 0 32px 8px 32px;
      overflow-x: hidden;
      overflow-y: auto; }
      .leaderboard .division .pending h2 {
        color: white; }
      .leaderboard .division .pending .athlete {
        color: lime;
        font-weight: bold;
        font-size: 48pt;
        line-height: 48pt; }
    .leaderboard .division .top-row {
      position: absolute;
      height: 480px;
      top: 0;
      left: 0; }
    .leaderboard .division .bottom-row {
      position: absolute;
      height: 200px;
      top: 500px;
      left: 0; }
    .leaderboard .division .full-height {
      position: absolute;
      height: 704px;
      top: 0;
      left: 0; }

/*# sourceMappingURL=leaderBoard.css.map */
