.ro8a { top:     0; left:     0; }
.ro8b { top: 120px; left:     0; }
.ro8c { top: 240px; left:     0; }
.ro8d { top: 360px; left:     0; }
.ro4a { top:  60px; left: 400px; }
.ro4b { top: 300px; left: 400px; }
.ro2  { top: 180px; left: 800px; }

.ro8a.grow:hover { z-index: 10px; transform: scale( 2.0 ) translateX( 80px ); }
.ro8b.grow:hover { z-index: 10px; transform: scale( 2.0 ) translateX( 80px ); }
.ro8c.grow:hover { z-index: 10px; transform: scale( 2.0 ) translateX( 80px ); }
.ro8d.grow:hover { z-index: 10px; transform: scale( 2.0 ) translateX( 80px ); }
.ro2.grow:hover  { transform: scale( 2.0 ) translateX( -80px ); }

.bracket {
	position: absolute;
	left: 80px;
	top:  80px;

	.match {
		font-family: Optima;
		position: absolute;
		height: 80px;
		width: 360px;

		.chung, .hong {
			position: absolute;
			height:  38px;
			width:  358px;
			left:       0;
			font-size: 32px;
			color: white;

			.athlete {
				position: absolute;
				left:       0;
				height:  38px;
				width:  250px;
				padding-left: 10px;
			}

			.score {
				position: absolute;
				left:   260px;
				height:  38px;
				width:   88px;
				padding-left: 10px;
			}
		}
		
		.chung {
			top: 0;
			background-color: #00c;
			border-radius: 0 20px 0 0;
			border: 1px solid #009;

			.athlete {
			}

			.score {
				border-left: 2px solid #66f;
			}
		}

		.hong {
			top: 40px;
			background-color: #d00;
			border-radius: 0 0 20px 0;
			border: 1px solid #900;

			.athlete {
			}

			.score {
				border-left: 2px solid #f66;
			}
		}

	}
}

.grow { 
	transition: all 0.2s ease-in-out; 
	&:hover { z-index: 10; transform: scale( 2.0 ); }
}
