.matposition {
	position: absolute;
	font-family: $text-font-stack;
	width:  180px;
	height: 180px;
	margin: 16px 10px 42px 10px;
	top: 0;
	left: 600px;

	.ring {
		position: absolute;
		width:  178px;
		height: 178px;
		border-radius: 4px;
		background: #7abcff;
		background: -webkit-linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
		background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);

		.blue { border: 1px solid #4096ee; }
		.red  { border: 1px solid #e24848; }

		.mat {
			position: absolute;
			width:  22px;
			height: 22px;
		}

		.judge {
			position: absolute;
			width:  22px;
			height: 22px;
			padding: 2px 0 0 0;
			text-align: center;
		}

		.j3R { top: -11px; left:  34px; }
		.j31 { top: -11px; left:  79px; }
		.j32 { top: -11px; left: 124px; }

		.j5R { top: -11px; left:  34px; }
		.j51 { top: -11px; left:  79px; }
		.j52 { top: -11px; left: 124px; }
		.j53 { top: 168px; left: 109px; }
		.j54 { top: 168px; left:  49px; }

		.j7R { top: -11px; left:  12px; }
		.j71 { top: -11px; left:  56px; }
		.j72 { top: -11px; left: 101px; }
		.j73 { top: -11px; left: 145px; }
		.j74 { top: 168px; left: 124px; }
		.j75 { top: 168px; left:  79px; }
		.j76 { top: 168px; left:  34px; }

		.notme {
			border-radius: 4px;
			background: #fceabb;
			background: -webkit-linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
			background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
		}

		.me {
			border-radius: 11px;
			background: #ffb76b;
			background: -webkit-linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
			background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
		 }

		.reference {
			position: absolute;
			top: 110px;
			left: 66px;
			height: 23px;
			width: 45px;
			background: #f29696;
			background: -webkit-linear-gradient(to bottom, #f29696 0%,#e24848 100%);
			background: linear-gradient(to bottom, #f29696 0%,#e24848 100%);
		}
	}

	.number {
		position: absolute;
		font-size: 48pt;
		color: white;
		top: 40px;
		left: 0;
		width: 178px;
		text-align: center;
	}

	.instructions {
		position: absolute;
		font-size: 12pt;
		color: white;
		top: 14px;
		left: 0;
		width: 178px;
		text-align: center;
		white-space: normal;
	}

	.start-position {
		position: absolute;
		color: yellow;
		font-size: 18pt;
		top: 0px;
		left: 0px;
	}

	.layer {
		border: 3px solid #36c;
		border-radius: 4px;
		position: absolute;
		width: 180px;
		height: 180px;
		top: 0px;
		left: 0px;
	}
}
