.presentationBar {
	position: relative;
	font-family: Optima, Biolinum;
	width: 396px;
	height: 64px;
	margin: 0 0 0 20px;

	.label {
		top: 0;
		left: 10px;
		position: absolute;
		font-size: 12pt;
		width: 400px;
		color: #ccc;
		line-height: 24pt;
		margin-left: 20px;
	}

	.slider {
		position: absolute;
		top: 32px;
		left: 20px;
		width: 260px;
	}

	.value {
		position: absolute;
		top: 32px;
		left: 300px;
		font-size: 24pt;
		color: white;
		float: left;
		width: 64px;
		text-align: center;
		line-height: 14pt;
		vertical-align: top;
	}

	.nudge {
		position: absolute;
		height: 23px;
		width: 23px;
		margin: 0;
		padding: 0;
		top: 28px;
	}
	.plus  { left: 0; }
	.minus { left: 281px;   }
}
