@media print {
	.btn { display: none; }
	.page-header { display: none; }
	.action-bar { display: none; }
	#schedule-title { display: block !important; }
	body { -webkit-print-color-adjust: exact; }
}
.page-footer { text-align: center; }
.btn-default.active {
	background-color: #77b300;
	border-color: #558000;
}
.pill {
	padding: 4px;
	border-radius: 4px;
}
.bootstrap-select { width: 120px !important; }
label.disabled {
	pointer-events: none;
}

.bootstrap-timepicker-widget table td input {
	width: 32px !important;
}

.btn-group .btn.active {
	color: white;
}

.ring-settings {
	width: 100%;
	.timepicker-widget {
		margin: 4px 0 4px 0;

		.timepicker {
			width: 120px;
		}
	}
}

h4.panel-heading {
	margin-top: 0;
}

.competition-day.panel {
	.panel-heading {
		h4 { display: inline-block; }
		.day-settings {
			position: relative;
			top: -28px;
			left: 15px;
			width: calc( 100% - 30px );

			a  { 
				position: absolute;
				top: 8px;
				right: -20px;
			}
		}
	}
	.panel-body {
		background-color: #eee;
		padding: 4px;
	}
	form {
		.form-group { 
			margin: 0; 
			padding: 4px 0 8px 0; 
			span.form-control-feedback {
				color: #999;
				margin: 4px;
			}
		}
		input.form-control { border-radius: 0; }
		ul { margin: 0; }
		margin: 0;
	}
}

ul.list-group-sortable-connected, ol.list-group-sortable-connected {
	min-height: 40px;
}

.droptarget {
	border: 2px dashed #333;
}

.schedule {
	width: 100%;

	td {
		// border: 1px solid #ddd;
		// padding: -1px;
		height: 8px;

		&.timeline {
			width: 120px;
			padding-right: 8px;
			text-align: right;
			vertical-align: top;
		}

		&.ring {
			padding-left: 8px;
			padding-right: 8px;
		}

		&.schedule-heading {
			.ring-plan {
				padding-top: 10px;
				padding-bottom: 10px;
				border-radius: 4px;
				width: 100%;

				h4 { margin: 0; padding: 0; }
			}
		}

		.block {
			position: relative;
			font-family: Lato;
			font-size: 10pt;
			width: 100%;
			height: 100%;
			border-radius: 4px;

			.block-label {
				position: relative;
				top: 50%;
				transform: translate( 0, -50% );
				text-align: center;
			}

			.break-actions {
				color: #ccc;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

.ring-availability {
	&.single-ring {
		width: 100px;
	}
}

a.active {
	background-color: #cce5ff !important;
	border-color: #b8daff !important;
	color: #004085 !important;
}

#schedule-title {
	display: none;
}

.action-bar {
	padding: 4px 15px 4px 15px;
	.actions {
		text-align: right;
	}
}

.break  { background-color: white; border: 1px solid black; padding: -1px }
.coed   { background-color: #ffddc0 !important; }
.male   { background-color: #b0e9e9 !important; }
.female { background-color: #ffc0c0 !important; }

.error  { background-color: #dc3545 !important; color: white; }

.coed.selected   { background-color: #af550b; }
.male.selected   { background-color: #af0b0b; }
.female.selected { background-color: #076969; }


