@media print {
	.btn { display: none; }
	.page-header { display: none; }
}
.page-footer { text-align: center; }
.btn-default.active {
	background-color: #77b300;
	border-color: #558000;
}
.pill {
	padding: 4px;
	border-radius: 4px;
}
.bootstrap-select { width: 120px !important; }
label.disabled {
	pointer-events: none;
}

.bootstrap-timepicker-widget table td input {
	width: 32px !important;
}

.btn-group .btn.active {
	color: white;
}

#ring-settings {
	width: 100%;
	.timepicker-widget {
		margin: 4px 0 4px 0;

		.timepicker {
			width: 180px;
		}
	}
}

h4.panel-heading {
	margin-top: 0;
}

.competition-day.panel {
	.panel-heading {
		h4 { display: inline-block; }
		.day-settings {
			position: relative;
			top: -28px;
			left: 15px;
			width: calc( 100% - 30px );

			a  { 
				position: absolute;
				top: 8px;
				right: -20px;
			}
		}
	}
	.panel-body {
		background-color: #eee;
		padding: 4px;
	}
	form {
		.form-group { 
			margin: 0; 
			padding: 4px 0 8px 0; 
			span.form-control-feedback {
				color: #999;
				margin: 4px;
			}
		}
		input.form-control { border-radius: 0; }
		ul { margin: 0; }
		margin: 0;
	}
}

ul.list-group-sortable-connected, ol.list-group-sortable-connected {
	min-height: 40px;
}

.droptarget {
	border: 2px dashed #333;
}

.schedule {
	width: 100%;

	td {
		border: 1px solid #ccc;
		padding: -1px;
		height: 8px;

		&.timeline {
			min-width: 120px;
			padding-right: 8px;
			text-align: right;
			vertical-align: top;
		}

		&.ring {
			min-width: 180px;
			padding-left: 8px;
			padding-right: 8px;
		}

		.block {
			font-family: Lato;
			font-size: 10pt;
			width: 100%;
			height: 100%;
			border-radius: 4px;

			.block-label {
				position: relative;
				top: 50%;
				transform: translate( 0, -50% );
				text-align: center;
			}
		}
	}
}

a.active {
	background-color: #cce5ff !important;
	border-color: #b8daff !important;
	color: #004085 !important;
}

.coed   { background-color: #ffddc0; }
.male   { background-color: #b0e9e9; }
.female { background-color: #ffc0c0; }

.coed.error      { background-color: #6b482b; color: white; }
.male.error      { background-color: #1a4040; color: white; }
.female.error    { background-color: #6b2b2b; color: white; }

.coed.selected   { background-color: #af550b; }
.male.selected   { background-color: #af0b0b; }
.female.selected { background-color: #076969; }


