@media print {
  .btn {
    display: none; }

  .page-header {
    display: none; } }
.page-footer {
  text-align: center; }

.btn-default.active {
  background-color: #77b300;
  border-color: #558000; }

.pill {
  padding: 4px;
  border-radius: 4px; }

.bootstrap-select {
  width: 120px !important; }

label.disabled {
  pointer-events: none; }

.bootstrap-timepicker-widget table td input {
  width: 32px !important; }

.btn-group .btn.active {
  color: white; }

.competition-day.panel .panel-heading h4 {
  display: inline-block; }
.competition-day.panel .panel-heading .day-settings {
  position: relative;
  top: -28px;
  left: 15px;
  width: calc( 100% - 30px ); }
  .competition-day.panel .panel-heading .day-settings a {
    position: absolute;
    top: 8px;
    right: -20px; }
  .competition-day.panel .panel-heading .day-settings .ring-num-widget, .competition-day.panel .panel-heading .day-settings .timepicker-widget {
    position: absolute;
    top: 8px; }
    .competition-day.panel .panel-heading .day-settings .ring-num-widget .input-group .input-group-addon, .competition-day.panel .panel-heading .day-settings .timepicker-widget .input-group .input-group-addon {
      height: 16px;
      padding: 1px 4px 1px 4px; }
    .competition-day.panel .panel-heading .day-settings .ring-num-widget .input-group input, .competition-day.panel .panel-heading .day-settings .timepicker-widget .input-group input {
      height: 22px;
      text-align: right; }
  .competition-day.panel .panel-heading .day-settings .timepicker-widget {
    right: 92px; }
    .competition-day.panel .panel-heading .day-settings .timepicker-widget .input-group {
      width: 128px; }
  .competition-day.panel .panel-heading .day-settings .ring-num-widget {
    right: 244px; }
    .competition-day.panel .panel-heading .day-settings .ring-num-widget .input-group {
      width: 80px; }
      .competition-day.panel .panel-heading .day-settings .ring-num-widget .input-group input {
        width: 40px;
        color: black; }
.competition-day.panel .panel-body {
  background-color: #eee;
  padding: 4px; }
.competition-day.panel form {
  margin: 0; }
  .competition-day.panel form .form-group {
    margin: 0;
    padding: 4px 0 8px 0; }
    .competition-day.panel form .form-group span.form-control-feedback {
      color: #999;
      margin: 4px; }
  .competition-day.panel form input.form-control {
    border-radius: 0; }
  .competition-day.panel form ul {
    margin: 0; }

ul.list-group-sortable-connected, ol.list-group-sortable-connected {
  min-height: 40px; }

.droptarget {
  border: 2px dashed #333; }

.schedule {
  width: 100%; }
  .schedule td {
    border: 1px solid #ccc;
    padding: -1px;
    height: 8px; }
    .schedule td.timeline {
      min-width: 120px;
      padding-right: 8px;
      text-align: right;
      vertical-align: top; }
    .schedule td.ring {
      min-width: 180px;
      padding-left: 8px;
      padding-right: 8px; }
    .schedule td .round {
      font-family: Lato;
      font-size: 10pt;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      text-align: center; }

a.active {
  background-color: #cce5ff !important;
  border-color: #b8daff !important;
  color: #004085 !important; }

.coed {
  background-color: #ffddc0; }

.male {
  background-color: #b0e9e9; }

.female {
  background-color: #ffc0c0; }

.coed.error {
  background-color: #6b482b; }

.male.error {
  background-color: #1a4040; }

.female.error {
  background-color: #6b2b2b; }

.coed.selected {
  background-color: #af550b; }

.male.selected {
  background-color: #af0b0b; }

.female.selected {
  background-color: #076969; }

/*# sourceMappingURL=schedule.css.map */
