.scoreboard {
  font-family: HelveticaNeue-CondensedBold;
  display: none;
  width: 1000px;
  height: 720px;
  border-radius: 24px;
  border: 4px solid white; }
  .scoreboard .judgeScores {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 720px;
    margin: 0 0 20px 0; }
  .scoreboard .judges7 .judge {
    font-size: 24pt;
    line-height: 24pt; }
  .scoreboard .judges7 .score {
    font-size: 48pt;
    line-height: 48pt; }
  .scoreboard .judges5 .judge {
    font-size: 24pt;
    line-height: 24pt; }
  .scoreboard .judges5 .score {
    font-size: 48pt;
    line-height: 48pt; }
  .scoreboard .judges3 .judge {
    font-size: 36pt;
    line-height: 36pt; }
  .scoreboard .judges3 .score {
    font-size: 64pt;
    line-height: 64pt; }
  .scoreboard .judgeScore {
    position: absolute;
    text-align: center;
    width: 300px;
    height: 102px;
    background: linear-gradient(to top, #45484d 0%, #000000 100%); }
    .scoreboard .judgeScore .judge {
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 0 0 0;
      color: #999;
      margin: 0 auto 0 auto;
      width: 40px;
      height: 72px; }
    .scoreboard .judgeScore .ignore-judge {
      color: #333; }
    .scoreboard .judgeScore .score {
      position: absolute;
      top: 10px;
      left: 40px;
      color: #666;
      margin: 0 auto 0 auto;
      width: 260px;
      height: 92px; }
      .scoreboard .judgeScore .score .accuracy {
        color: #f99; }
      .scoreboard .judgeScore .score .ignore-acc {
        color: #333; }
      .scoreboard .judgeScore .score .presentation {
        color: #99f; }
      .scoreboard .judgeScore .score .ignore-pre {
        color: #333; }
  .scoreboard .ignore .judge {
    color: #333; }
  .scoreboard .ignore .score {
    color: #333; }
  .scoreboard .totalScores {
    position: absolute;
    top: 0;
    left: 300px;
    text-align: center;
    height: 720px;
    width: 700px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to top, #45484d 0%, #000000 100%);
    border-radius: 0 24px 24px 0; }
    .scoreboard .totalScores .red, .scoreboard .totalScores .hong {
      color: #f66; }
    .scoreboard .totalScores .blue, .scoreboard .totalScores .chung {
      color: #66f; }
    .scoreboard .totalScores .athlete {
      margin: 0;
      height: 80px;
      font-size: 72pt;
      line-height: 72pt; }
    .scoreboard .totalScores .round {
      position: absolute;
      top: 520px;
      left: 0;
      margin: 0;
      color: #999;
      height: 40px;
      font-size: 24pt;
      width: 700px; }
      .scoreboard .totalScores .round ul {
        list-style-type: none;
        line-height: 24pt;
        height: 36px; }
        .scoreboard .totalScores .round ul b {
          color: white; }
    .scoreboard .totalScores .score {
      position: absolute;
      top: 80px;
      left: 0;
      height: 400px;
      width: 992px; }
      .scoreboard .totalScores .score .accuracy {
        position: absolute;
        top: 18px;
        left: 52px;
        width: 248px;
        height: 80px;
        color: #600;
        font-size: 96pt;
        line-height: 96pt;
        color: #f99; }
      .scoreboard .totalScores .score .presentation {
        position: absolute;
        top: 18px;
        left: 402px;
        width: 248px;
        height: 80px;
        color: #006;
        font-size: 96pt;
        line-height: 96pt;
        color: #99f; }
      .scoreboard .totalScores .score .total {
        position: absolute;
        top: 54px;
        left: 0;
        width: 700px;
        height: 290px;
        color: lime;
        font-size: 300pt; }
    .scoreboard .totalScores .forms {
      position: absolute;
      top: 600px;
      left: 0;
      width: 700px;
      height: 80px; }
      .scoreboard .totalScores .forms .form {
        position: absolute;
        top: 0;
        left: 0;
        width: 192px;
        height: 72px;
        background: linear-gradient(to top, #45484d 0%, #000000 100%);
        border: 4px solid #c96;
        border-radius: 24px; }
        .scoreboard .totalScores .forms .form .name {
          color: #996;
          font-size: 14pt;
          position: absolute;
          top: 0;
          left: 0;
          width: 200px;
          height: 20px; }
        .scoreboard .totalScores .forms .form .score {
          color: yellow;
          font-size: 48pt;
          line-height: 48pt;
          position: absolute;
          top: 12px;
          left: 0;
          width: 200px;
          height: 60px; }

/*# sourceMappingURL=scoreBoard.css.map */
