
.scoreboard {
	font-family: HelveticaNeue-CondensedBold;
	display: none;
	width: 1000px;
	height: 720px;
	border-radius: 24px;
	border: 4px solid white;

	.judgeScores {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 720px;
		margin: 0 0 20px 0;
	}

	.judges7 { 
		.judge { font-size: 24pt; line-height: 24pt; }
		.score { font-size: 48pt; line-height: 48pt; }
	}

	.judges5 { 
		.judge { font-size: 24pt; line-height: 24pt; }
		.score { font-size: 48pt; line-height: 48pt; }
	}

	.judges3 { 
		.judge { font-size: 36pt; line-height: 36pt; }
		.score { font-size: 64pt; line-height: 64pt; }
	}

	.judgeScore {
		position: absolute;
		text-align: center;
		width: 300px;
		height: 102px;
		background: linear-gradient(to top, #45484d 0%,#000000 100%);

		.judge {
			position: absolute;
			top: 0;
			left: 0;
			padding: 30px 0 0 0;
			color: #999;
			margin: 0 auto 0 auto;
			width: 40px;
			height: 72px;
		}
		.ignore-judge { color: #333; }

		.score {
			position: absolute;
			top: 10px;
			left: 40px;
			color: #666;
			margin: 0 auto 0 auto;
			width: 260px;
			height: 92px;
			.accuracy     { color: #f99; }
			.ignore-acc   { color: #333; }
			.presentation { color: #99f; }
			.ignore-pre   { color: #333; }
		}
	}

	.ignore {
		.judge { color: #333; }
		.score { color: #333; }
	}

	.totalScores {
		position: absolute;
		top: 0;
		left: 300px;
		text-align: center;
		height: 720px;
		width: 700px;
		font-weight: bold;
		color: white;
		background: linear-gradient(to top, #45484d 0%,#000000 100%);
		border-radius: 0 24px 24px 0;

		.red,  .hong  { color: #f66; }
		.blue, .chung { color: #66f; }

		.athlete {
			margin: 0;
			height: 80px;
			font-size: 72pt;
			line-height: 72pt;
		}

		.round {
			position: absolute;
			top: 540px;
			left: 0;
			margin: 0;
			color: #999;
			height: 40px;
			font-size: 24pt;
			line-height: 40pt;
			width: 700px;
		}

		.score {
			position: absolute;
			top: 80px;
			left: 0;
			height: 400px;
			width: 992px;

			.accuracy     { 
				position: absolute; 
				top: 18px;
				left: 52px;
				width: 248px;
				height: 80px;
				color: #600; 
				font-size: 96pt;
				line-height: 96pt;
				.mean { color: #f99; }
			}
			.presentation { 
				position: absolute; 
				top: 18px;
				left: 402px;
				width: 248px;
				height: 80px;
				color: #006; 
				font-size: 96pt;
				line-height: 96pt;
				.mean { color: #99f; }
			}
			.total {
				position: absolute;
				top: 24px;
				left: 0;
				width: 700px;
				height: 320px;
				color: lime;
				font-size: 300pt;
			}
		}

		.forms {
			position: absolute;
			top: 600px;
			left: 0;
			width: 700px;
			height: 80px;

			.form {
				position: absolute;
				top: 0;
				left: 0;
				width: 192px;
				height: 72px;
				background: linear-gradient(to top, #45484d 0%,#000000 100%);
				border: 4px solid #ccc;
				border-radius: 24px;

				.name {
					color: #999;
					font-size: 14pt;
					position: absolute;
					top: 0;
					left: 0;
					width: 200px;
					height: 20px;
				}
				.score {
					color: yellow;
					font-size: 48pt;
					line-height: 48pt;
					position: absolute;
					top: 12px;
					left: 0;
					width: 200px;
					height: 60px;
				}
			}
		}
	}
}

