@font-face {
	font-family: GlyphiconHalfling;
	src: url( '/include/bootstrap/fonts/glyphicons-halflings-regular.ttf' ), url( '/freescore/include/bootstrap/fonts/glyphicons-halflings-regular.ttf' );
}

.scoreboard {
	font-family: HelveticaNeue-CondensedBold, Nimbus;
	display: none;
	width: 1000px;
	height: 720px;
	border-radius: 24px;
	border: 4px solid white;
	margin-top: 20px;

	.judgeScores {
		position: absolute;
		top: 0;
		left: 0;
		width: 292px;
		height: 712px;
		margin: 0 0 20px 0;
	}

	.judges7 { 
		.judge { font-size: 24pt; line-height: 24pt; }
		.score { font-size: 48pt; line-height: 48pt; }
	}

	.judges5 { 
		.judge { font-size: 24pt; line-height: 24pt; }
		.score { font-size: 48pt; line-height: 48pt; }
	}

	.judges3 { 
		.judge { font-size: 36pt; line-height: 36pt; }
		.score { font-size: 64pt; line-height: 64pt; }
	}

	.judgeScore {
		position: absolute;
		text-align: center;
		width: 292px;
		height: 101.5px;
		background: black;
		background: -webkit-linear-gradient(to top, #45484d 0%,#000000 100%);
		background: linear-gradient(to top, #45484d 0%,#000000 100%);

		.judge {
			position: absolute;
			top: 0;
			left: 0;
			padding: 30px 0 0 0;
			color: #999;
			margin: 0 auto 0 auto;
			width: 40px;
			height: 72px;
		}
		.ignore-judge { color: #333; }

		.score {
			position: absolute;
			top: 10px;
			left: 40px;
			color: #666;
			margin: 0 auto 0 auto;
			width: 260px;
			height: 92px;
			.accuracy     { color: #f99; }
			.ignore-acc   { opacity: 0.75; position: relative; color: #c66; &::after{ opacity: 0.75; border-bottom: 8px solid #c66; content: ""; position: absolute; left: 0; top: 50%; right: 0; }}
			.presentation { color: #99f; }
			.ignore-pre   { opacity: 0.75; position: relative; color: #66c; &::after{ opacity: 0.75; border-bottom: 8px solid #66c; content: ""; position: absolute; left: 0; top: 50%; right: 0; }}
			.received     { color: #0c0; }
		}
	}

	.ignore {
		.judge { color: #333; }
		.score { color: #333; }
	}

	.totalScores {
		position: absolute;
		top: 0;
		left: 292px;
		text-align: center;
		height: 712px;
		width: 700px;
		font-weight: bold;
		color: white;
		background: black;
		background: -webkit-linear-gradient(to top, #45484d 0%,#000000 100%);
		background: linear-gradient(to top, #45484d 0%,#000000 100%);
		border-radius: 0 24px 24px 0;

		.red,  .hong  { color: #f66; }
		.blue, .chung { color: #66f; }

		.athlete {
			position: absolute;
			top: 0;
			left: 0;
			color: yellow;
			margin: 0;
			height: 120px;
			width: 694px;
			font-size: 72pt;
			line-height: 72pt;
			text-align: center;
			overflow: hidden;
		}

		.flag {
			position: absolute;
			top: 0;
			left: 0;
			padding: 16px 4px 4px 4px;
			height: 128px;
			width: 128px;
		}

		.round {
			position: absolute;
			top: 580px;
			left: 0;
			margin: 0;
			color: #999;
			height: 40px;
			font-size: 24pt;
			width: 700px;

			ul {
				list-style-type: none;
				line-height: 24pt;
				height: 34px;

				b { color: orange; }
			}
		}

		.score {
			position: absolute;
			top: 80px;
			left: 0;
			height: 500px;
			width: 700px;

			.accuracy     { 
				position: absolute; 
				top: 16px;
				left: 16px;
				width: 248px;
				height: 80px;
				color: #600; 
				font-size: 96pt;
				line-height: 96pt;
				color: #f99;
			}
			.presentation { 
				position: absolute; 
				top: 16px;
				left: 438px;
				width: 248px;
				height: 80px;
				color: #006; 
				font-size: 96pt;
				line-height: 96pt;
				color: #99f;
			}
			.total {
				position: absolute;
				top: 16px;
				left: 0;
				width: 700px;
				height: 290px;
				color: lime;
				font-size: 300pt;
			}
		}

		.forms {
			position: absolute;
			top: 620px;
			left: 0;
			width: 700px;
			height: 80px;

			.form {
				position: absolute;
				top: 0;
				left: 0;
				width: 192px;
				height: 72px;
				background: black;
				background: -webkit-linear-gradient(to top, #45484d 0%,#000000 100%);
				background: linear-gradient(to top, #45484d 0%,#000000 100%);
				border: 4px solid #c96;
				border-radius: 24px;

				.name {
					color: #996;
					font-size: 14pt;
					position: absolute;
					top: -6px;
					left: 0;
					width: 200px;
					height: 20px;
				}
				.score {
					color: yellow;
					font-size: 48pt;
					line-height: 48pt;
					position: absolute;
					top: 6px;
					left: 0;
					width: 200px;
					height: 60px;
				}
			}
		}

		.penalty {
			color: white;
			font-size: 24pt;
			position: absolute;
			width: 100px;
			height: 41px;

			.icon {
				position: absolute;
				left: 0px;
				top: 0px;
				background: darkorchid;
				background-size: 28px;
				border-radius: 21px;
				width: 41px;
				height: 41px;

				.glyphicon {
					position: absolute;
					font-size: 22pt;
					top: 6px;
					left: 6px;
				}
			}
			.value {
				position: absolute;
				left: 44px;
				top: -2px;
				height: 41px;
			}
		}
		.bounds {
			left: 254px;
			top:  168px;
		}

		.timelimit {
			left: 254px;
			top:  120px;
		}

		.restart {
			left: 354px;
			top:  168px;
		}

		.misconduct {
			left: 354px;
			top:  120px;
		}
	}
}

