.scoreboard {
  font-family: Optima;
  display: none; }
  .scoreboard .judgeScores {
    width: 1000px;
    height: 180px;
    margin: 0 0 20px 0; }
  .scoreboard .judges7 {
    width: 117px; }
    .scoreboard .judges7 .judge {
      font-size: 18pt; }
    .scoreboard .judges7 .score {
      font-size: 48pt;
      line-height: 48pt; }
  .scoreboard .judges5 {
    width: 176px; }
    .scoreboard .judges5 .judge {
      font-size: 24pt; }
    .scoreboard .judges5 .score {
      font-size: 48pt;
      line-height: 48pt; }
  .scoreboard .judges3 {
    width: 312px; }
    .scoreboard .judges3 .judge {
      font-size: 24pt; }
    .scoreboard .judges3 .score {
      font-size: 64pt;
      line-height: 108pt; }
  .scoreboard .left {
    margin: 0 10px 0 0; }
  .scoreboard .middle {
    margin: 0 10px 0 10px; }
  .scoreboard .right {
    margin: 0 0 0 10px; }
  .scoreboard .judgeScore {
    display: inline-block;
    text-align: center;
    height: 172px;
    font-weight: bold;
    border-radius: 24px;
    border: 4px solid white; }
    .scoreboard .judgeScore .judge {
      color: #666;
      font-weight: bold;
      border-radius: 0 0 24px 24px;
      background-color: black;
      margin: 0 auto 0 auto;
      height: 40px; }
    .scoreboard .judgeScore .score {
      color: #666;
      font-weight: bold;
      border-radius: 24px 24px 0 0;
      background-color: black;
      margin: auto;
      height: 132px; }
      .scoreboard .judgeScore .score .accuracy {
        color: #f99; }
      .scoreboard .judgeScore .score .presentation {
        color: #99f; }
  .scoreboard .ignore .judge {
    color: #333; }
  .scoreboard .ignore .score {
    color: #333; }
  .scoreboard .totalScores {
    text-align: center;
    height: 532px;
    width: 992px;
    font-weight: bold;
    color: white;
    border-radius: 24px;
    border: 4px solid white;
    background: linear-gradient(to top, #45484d 0%, black 100%); }
    .scoreboard .totalScores .red, .scoreboard .totalScores .hong {
      color: #f66; }
    .scoreboard .totalScores .blue, .scoreboard .totalScores .chung {
      color: #66f; }
    .scoreboard .totalScores .athlete {
      margin: 0;
      height: 80px;
      font-size: 72pt;
      line-height: 72pt; }
    .scoreboard .totalScores .round {
      margin: 0;
      color: #999;
      height: 40px;
      font-size: 24pt;
      line-height: 40pt; }
    .scoreboard .totalScores .score {
      position: relative;
      height: 400px;
      width: 992px; }
      .scoreboard .totalScores .score .accuracy {
        position: absolute;
        top: 0;
        left: 186px;
        width: 248px;
        height: 80px;
        color: #600;
        font-size: 96pt;
        line-height: 96pt; }
        .scoreboard .totalScores .score .accuracy .mean {
          color: #f99; }
      .scoreboard .totalScores .score .presentation {
        position: absolute;
        top: 0;
        left: 558px;
        width: 248px;
        height: 80px;
        color: #006;
        font-size: 96pt;
        line-height: 96pt; }
        .scoreboard .totalScores .score .presentation .mean {
          color: #99f; }
      .scoreboard .totalScores .score .total {
        position: absolute;
        top: 12px;
        left: 0;
        width: 992px;
        height: 320px;
        color: #ccc;
        font-size: 300pt; }
