$footer-height: 40px;

body {
	background-image: linear-gradient( black 65%, #333 );
}

.page-header {
	img.header-logo {
		height: 48px;
		margin: -18px -4px 0 -12px;
		transform: scaleX( -1 );
	}
}

#pt-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#date, #clock {
	position: absolute;
	top: 0;
	font-size: 24pt;
	color: yellow;
}

#date {
	left: 16px;
}

#clock {
	right: 16px;

	.ampm {
		font-variant: small-caps;
	}
}

.block-information {
	width: 100%;
	height: 50%;

	#block-list {
		color: white;
		width: 100%;
		tr:nth-child( even ) { background-color: #333; }
		td {
			padding: 0 8px 0 8px;
			font-size: 18pt;
		}

		.description { color: gold; }
		.round       { color: #c93; }
	}
}

.holding-information {
	width: 100%;
	height: calc( 50% - $footer-height );
}

footer {
	background-color: black;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	padding: 8px;
}
