body {
  background: black;
  background: -webkit-linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */ }

@font-face {
  font-family: Nimbus;
  src: url("/freescore/include/fonts/nimbus-sans-l_bold-condensed.ttf"); }
@font-face {
  font-family: Biolinum;
  font-weight: bold;
  src: url("/freescore/include/fonts/LinBiolinum_Rah.ttf"); }
.worldclass {
  margin: 0 auto 0 auto;
  width: 1000px; }
  .worldclass .scoreboard {
    font-family: HelveticaNeue-CondensedBold, Nimbus;
    display: none;
    width: 1000px;
    height: 720px;
    border-radius: 24px;
    border: 4px solid white; }
    .worldclass .scoreboard .judgeScores {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 720px;
      margin: 0 0 20px 0; }
    .worldclass .scoreboard .judges7 .judge {
      font-size: 24pt;
      line-height: 24pt; }
    .worldclass .scoreboard .judges7 .score {
      font-size: 48pt;
      line-height: 48pt; }
    .worldclass .scoreboard .judges5 .judge {
      font-size: 24pt;
      line-height: 24pt; }
    .worldclass .scoreboard .judges5 .score {
      font-size: 48pt;
      line-height: 48pt; }
    .worldclass .scoreboard .judges3 .judge {
      font-size: 36pt;
      line-height: 36pt; }
    .worldclass .scoreboard .judges3 .score {
      font-size: 64pt;
      line-height: 64pt; }
    .worldclass .scoreboard .judgeScore {
      position: absolute;
      text-align: center;
      width: 300px;
      height: 102px;
      background: black;
      background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
      background: linear-gradient(to top, #45484d 0%, #000000 100%); }
      .worldclass .scoreboard .judgeScore .judge {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 0 0 0;
        color: #999;
        margin: 0 auto 0 auto;
        width: 40px;
        height: 72px; }
      .worldclass .scoreboard .judgeScore .ignore-judge {
        color: #333; }
      .worldclass .scoreboard .judgeScore .score {
        position: absolute;
        top: 10px;
        left: 40px;
        color: #666;
        margin: 0 auto 0 auto;
        width: 260px;
        height: 92px; }
        .worldclass .scoreboard .judgeScore .score .accuracy {
          color: #f99; }
        .worldclass .scoreboard .judgeScore .score .ignore-acc {
          opacity: 0.75;
          position: relative;
          color: #c66; }
          .worldclass .scoreboard .judgeScore .score .ignore-acc::after {
            opacity: 0.75;
            border-bottom: 8px solid #c66;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            right: 0; }
        .worldclass .scoreboard .judgeScore .score .presentation {
          color: #99f; }
        .worldclass .scoreboard .judgeScore .score .ignore-pre {
          opacity: 0.75;
          position: relative;
          color: #66c; }
          .worldclass .scoreboard .judgeScore .score .ignore-pre::after {
            opacity: 0.75;
            border-bottom: 8px solid #66c;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            right: 0; }
    .worldclass .scoreboard .ignore .judge {
      color: #333; }
    .worldclass .scoreboard .ignore .score {
      color: #333; }
    .worldclass .scoreboard .totalScores {
      position: absolute;
      top: 0;
      left: 300px;
      text-align: center;
      height: 720px;
      width: 700px;
      font-weight: bold;
      color: white;
      background: black;
      background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
      background: linear-gradient(to top, #45484d 0%, #000000 100%);
      border-radius: 0 24px 24px 0; }
      .worldclass .scoreboard .totalScores .red, .worldclass .scoreboard .totalScores .hong {
        color: #f66; }
      .worldclass .scoreboard .totalScores .blue, .worldclass .scoreboard .totalScores .chung {
        color: #66f; }
      .worldclass .scoreboard .totalScores .athlete {
        color: yellow;
        margin: 0;
        height: 80px;
        font-size: 72pt;
        line-height: 72pt; }
      .worldclass .scoreboard .totalScores .round {
        position: absolute;
        top: 520px;
        left: 0;
        margin: 0;
        color: #999;
        height: 40px;
        font-size: 24pt;
        width: 700px; }
        .worldclass .scoreboard .totalScores .round ul {
          list-style-type: none;
          line-height: 24pt;
          height: 34px; }
          .worldclass .scoreboard .totalScores .round ul b {
            color: orange; }
      .worldclass .scoreboard .totalScores .score {
        position: absolute;
        top: 80px;
        left: 0;
        height: 400px;
        width: 992px; }
        .worldclass .scoreboard .totalScores .score .accuracy {
          position: absolute;
          top: 18px;
          left: 52px;
          width: 248px;
          height: 80px;
          color: #600;
          font-size: 96pt;
          line-height: 96pt;
          color: #f99; }
        .worldclass .scoreboard .totalScores .score .presentation {
          position: absolute;
          top: 18px;
          left: 402px;
          width: 248px;
          height: 80px;
          color: #006;
          font-size: 96pt;
          line-height: 96pt;
          color: #99f; }
        .worldclass .scoreboard .totalScores .score .total {
          position: absolute;
          top: 54px;
          left: 0;
          width: 700px;
          height: 290px;
          color: lime;
          font-size: 300pt; }
      .worldclass .scoreboard .totalScores .forms {
        position: absolute;
        top: 600px;
        left: 0;
        width: 700px;
        height: 80px; }
        .worldclass .scoreboard .totalScores .forms .form {
          position: absolute;
          top: 0;
          left: 0;
          width: 192px;
          height: 72px;
          background: black;
          background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
          background: linear-gradient(to top, #45484d 0%, #000000 100%);
          border: 4px solid #c96;
          border-radius: 24px; }
          .worldclass .scoreboard .totalScores .forms .form .name {
            color: #996;
            font-size: 14pt;
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 20px; }
          .worldclass .scoreboard .totalScores .forms .form .score {
            color: yellow;
            font-size: 48pt;
            line-height: 48pt;
            position: absolute;
            top: 12px;
            left: 0;
            width: 200px;
            height: 60px; }
      .worldclass .scoreboard .totalScores .bounds {
        color: white;
        font-size: 24pt;
        position: absolute;
        left: 304px;
        top: 168px;
        width: 100px;
        height: 41px; }
        .worldclass .scoreboard .totalScores .bounds .icon {
          float: left;
          background: darkorchid url("/freescore/include/jquery/mobile/images/icons-svg/action-white.svg") no-repeat 9px 5px;
          background-size: 24px;
          border-radius: 21px;
          width: 41px;
          height: 41px; }
      .worldclass .scoreboard .totalScores .timelimit {
        color: white;
        font-size: 24pt;
        position: absolute;
        position: absolute;
        left: 304px;
        top: 120px;
        width: 100px;
        height: 41px; }
        .worldclass .scoreboard .totalScores .timelimit .icon {
          float: left;
          background: darkorchid url("/freescore/include/jquery/mobile/images/icons-svg/clock-white.svg") no-repeat 6px 6px;
          background-size: 28px;
          border-radius: 21px;
          width: 41px;
          height: 41px; }
  .worldclass .leaderboard {
    width: 1000px;
    height: 720px;
    font-family: HelveticaNeue-CondensedBold, Nimbus;
    color: white;
    overflow: hidden; }
    .worldclass .leaderboard .division {
      width: 1000px;
      height: 720px;
      overflow: hidden; }
      .worldclass .leaderboard .division .placement {
        position: relative;
        height: 704px;
        color: lime;
        font-size: 24pt;
        background: black;
        background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
        /* W3C */
        background: linear-gradient(to top, #45484d 0%, #000000 100%);
        /* W3C */
        border: 4px solid white;
        border-radius: 24px;
        padding: 0 32px 8px 32px; }
        .worldclass .leaderboard .division .placement h2 {
          color: white; }
        .worldclass .leaderboard .division .placement .rank1 {
          color: #fe0; }
        .worldclass .leaderboard .division .placement .rank2 {
          color: #ccc; }
        .worldclass .leaderboard .division .placement .rank3 {
          color: #f93; }
        .worldclass .leaderboard .division .placement .rank4 {
          color: #f93; }
        .worldclass .leaderboard .division .placement .athlete {
          position: relative;
          height: 40px;
          width: 100%; }
          .worldclass .leaderboard .division .placement .athlete .name {
            color: yellow;
            position: absolute;
            left: 0;
            width: 40%;
            font-weight: bold; }
          .worldclass .leaderboard .division .placement .athlete .form1 {
            color: #939;
            position: absolute;
            left: 40%;
            width: 15%;
            text-align: right; }
          .worldclass .leaderboard .division .placement .athlete .form2 {
            color: #399;
            position: absolute;
            left: 55%;
            width: 15%;
            text-align: right; }
          .worldclass .leaderboard .division .placement .athlete .score {
            position: absolute;
            left: 70%;
            width: 20%;
            text-align: right; }
            .worldclass .leaderboard .division .placement .athlete .score .notes {
              display: inline-block;
              text-align: left;
              width: 30px;
              opacity: 0.5; }
          .worldclass .leaderboard .division .placement .athlete .medal {
            position: absolute;
            left: 90%;
            width: 10%; }
        .worldclass .leaderboard .division .placement .header {
          font-size: 14pt;
          height: 20px;
          opacity: 0.5;
          border-bottom: 2px solid #333; }
      .worldclass .leaderboard .division .pending {
        height: 704px;
        color: #999;
        font-size: 24pt;
        background: black;
        background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
        /* W3C */
        background: linear-gradient(to top, #45484d 0%, #000000 100%);
        /* W3C */
        border: 4px solid white;
        border-radius: 24px;
        padding: 0 32px 8px 32px;
        overflow-x: hidden;
        overflow-y: auto; }
        .worldclass .leaderboard .division .pending h2 {
          color: white; }
        .worldclass .leaderboard .division .pending ol li b {
          color: lime;
          font-weight: bold; }
      .worldclass .leaderboard .division .one-column {
        width: 928px; }
      .worldclass .leaderboard .division .two-column {
        top: 0;
        width: 400px; }
        .worldclass .leaderboard .division .two-column h1 {
          font-size: 28pt; }
      .worldclass .leaderboard .division .left-column {
        position: absolute;
        top: 0;
        left: 0; }
      .worldclass .leaderboard .division .right-column {
        position: absolute;
        top: 0;
        left: 500px; }

.usermessage {
  font-family: Optima, Biolinum;
  font-size: 24pt;
  color: #ccc;
  display: none;
  border: 8px solid red;
  border-radius: 24px;
  width: 934px;
  margin: 80px auto 80px auto;
  padding: 0 32px 32px 32px; }
  .usermessage h1 {
    color: white; }
  .usermessage code {
    color: gold;
    font-size: 18pt; }

.enter-down-bounce {
  -webkit-animation: enterDownBounce 1s linear; }

.leave-up-bounce {
  -webkit-animation: leaveUpBounce 1s linear; }

@-webkit-keyframes enterDownBounce {
  0% {
    -webkit-transform: translateY(-600px);
    opacity: 0.25; }
  50% {
    -webkit-transform: translateY(0px); }
  70% {
    -webkit-transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes leaveUpBounce {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1; }
  10% {
    -webkit-transform: translateY(50px);
    opacity: 1; }
  25% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-900px);
    opacity: 0; } }

/*# sourceMappingURL=worldclassApp.css.map */
