
.display {
	position: absolute;
	top: calc( 50% - 350px );
	left: calc( 50% - 500px );
	width: 1008px;
	height: 708px;
	border: 4px solid white;
	border-radius: 16px;

	.judges {
		position: absolute;
		top: 0;
		left: 0;
		height: 700px;
		width: 320px;

		.judge {
			position: absolute;
			font-size: 56pt;
			line-height: 72pt;
			height: 100px;
			width:  320px;
			background-color: black;
			background: -webkit-linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
			background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */

			&::before {
				padding-left: 12px;
				font-size: 36pt;
				line-height: 74pt;
				opacity: 0.5;
			}

			.ignore {
				text-decoration: line-through;
				opacity: 0.5;
			}

			.technical, .presentation {
				position: absolute;
				top: 0;
				width: 120px;
				height: 80px;
				text-align: center;
			}

			.submitted {
				font-size: 64pt;
				position: absolute;
				top: 0;
				left: 60px;
				width: 240px;
				height: 80px;
				color: lime;
				text-align: center;
			}

			.technical    { left:  60px; color: #f99; }
			.presentation { left: 180px; color: #99f; }

			&:first-child { border-top-left-radius:    12px; }
			&:last-child  { border-bottom-left-radius: 12px; }
		}

		.judge-disabled { opacity: 0.2; }

		#referee { &::before { content: 'R'; } top: 0px;   }
		#j1      { &::before { content: '1'; } top: 100px; }
		#j2      { &::before { content: '2'; } top: 200px; }
		#j3      { &::before { content: '3'; } top: 300px; }
		#j4      { &::before { content: '4'; } top: 400px; }
		#j5      { &::before { content: '5'; } top: 500px; }
		#j6      { &::before { content: '6'; } top: 600px; }
	}

	.athlete {
		position: absolute;
		top: 0;
		left: 320px;
		height: 600px;
		width:  680px;
		#flag {
			position: absolute;
			top: 0;
			left: 0;
			height: 100px;
			width: 100px;
			padding-top: 20px;
			padding-left: 10px;
			img {
				width: 80px;
			}
		}
		#name {
			color: yellow;
			position: absolute;
			top: 0;
			left: 100px;
			height: 100px;
			width: 580px;
			font-size: 64pt;
			line-height: 64pt;
			text-align: left;
			padding-top: 20px;
		}

		#deductions {
			position: absolute;
			top: 120px;
			left: 0;

			.mandatory-stances, .timing {
				position: absolute;
				top: 340px;
				font-size: 9pt;
				width: 140px;
				height: 200px;
				text-align: center;
				img { height: 200px; opacity: 1.0; filter: sepia( 100% ) brightness( 10% ) saturate( 100000% ) hue-rotate(  280deg ); };
				color: #ba1f1f;
			}
			.done {
				color: #999;
				img { opacity: 0.2; filter: sepia( 0% ) saturate( 100% ) hue-rotate( -280deg ); };
			}
			.hakdari-seogi { left: 60px;  }
			.beom-seogi    { left: 200px; }
			.dwigubi       { left: 340px; }
			.timing        { 
				left: 480px; 
				font-size: 72pt; 
				color: #ba1f1f;
			}
			.ok { color: #444; }

			.major, .minor, .unadjusted {
				position: absolute;
				top: 0;
				width: 180px;
				color: magenta;
				line-height: 72pt;
				font-size: 56pt;
				text-align: center;

				.votes {
					position: absolute;
					top: 60px;
					left: 140px;
					height: 32px;
					width: 32px;
					border-radius: 16px;
					background-color: #609;
					font-size: 24pt;
					line-height: 24pt;
					color: white;
				}
			}
			.unadjusted { left:  80px; color: #3ff; }
			.major      { left: 320px; }
			.minor      { left: 480px; }
		}

		#score {
			position: absolute;
			top: 200px;
			width: 680px;
			color: lime;
			font-size: 216pt;
			line-height: 216pt;
			text-align: center;
		}
	}
}
