@import '../../fonts';

#display {
	position: absolute;
	top: calc( 50% - 350px );
	left: calc( 50% - 500px );
	width: 1008px;
	height: 708px;
	border: 4px solid white;
	border-radius: 16px;

	.judges {
		position: absolute;
		top: 0;
		left: 0;
		height: 700px;
		width: 320px;

		.judge {
			position: absolute;
			font-family: $text-font-stack;
			font-size: 56pt;
			line-height: 72pt;
			height: 100px;
			width:  320px;
			background-color: black;
			background: -webkit-linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
			background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */

			&::before {
				padding-left: 12px;
				font-size: 36pt;
				line-height: 74pt;
				opacity: 0.5;
			}

			.ignore {
				text-decoration: line-through;
				opacity: 0.5;
			}

			.technical, .presentation {
				position: absolute;
				top: 0;
				width: 120px;
				height: 80px;
				text-align: center;
			}

			.submitted {
				font-size: 64pt;
				position: absolute;
				top: 0;
				left: 60px;
				width: 240px;
				height: 80px;
				color: lime;
				text-align: center;
			}

			.technical    { left:  60px; color: #f99; }
			.presentation { left: 180px; color: #99f; }

			&:first-child { border-top-left-radius:    12px; }
			&:last-child  { border-bottom-left-radius: 12px; }
		}

		.judge-disabled { opacity: 0.2; }

		#referee { &::before { content: 'R'; } top: 0px;   }
		#j1      { &::before { content: '1'; } top: 100px; }
		#j2      { &::before { content: '2'; } top: 200px; }
		#j3      { &::before { content: '3'; } top: 300px; }
		#j4      { &::before { content: '4'; } top: 400px; }
		#j5      { &::before { content: '5'; } top: 500px; }
		#j6      { &::before { content: '6'; } top: 600px; }
	}

	.athlete {
		position: absolute;
		top: 0;
		left: 320px;
		height: 600px;
		width:  680px;
		.flag {
			position: absolute;
			top: 0;
			left: 0;
			height: 100px;
			width: 100px;
			padding-top: 20px;
			padding-left: 10px;
			img {
				width: 80px;
			}
		}
		.name {
			color: yellow;
			position: absolute;
			top: 0;
			left: 100px;
			height: 100px;
			width: 580px;
			font-size: 64pt;
			line-height: 64pt;
			text-align: left;
			padding-top: 20px;
		}

		.deductions {
			position: absolute;
			top: 120px;
			left: 0;
		}

		.score {
			position: absolute;
			top: 200px;
			width: 680px;
			color: lime;
			font-size: 256pt;
			font-family: $condensed-font-stack;
			font-weight: bold;
			line-height: 216pt;
			text-align: center;
		}
	}

	.division {
		position: absolute;
		top: 580px;
		left: 320px;
		width: 680px;
		color: orange;
		font-size: 32pt;
		font-family: $text-font-stack;
		line-height: 32pt;
		text-align: center;
	}

	#leaderboard, #order-list {
		padding: 20px;
		overflow-y: auto;
		table {
			background: transparent;
			width: 100%;
			th {
				font-size: 24pt;
				color: #999;
			}
			td {
				font-size: 36pt;
				&.num   { color: #ccc; }
				&.name  { color: yellow; }
				&.tech  { color: #f39; }
				&.pres  { color: #39f; }
				&.total { color: lime; }
			}
		}
	}
}

