
@font-face {
	font-family: Nimbus;
	src: url( '/freescore/include/fonts/nimbus-sans-l_bold-condensed.ttf' );
}
@font-face {
	font-family: Biolinum;
	font-weight: bold;
	src: url( '/freescore/include/fonts/LinBiolinum_Rah.ttf' );
}

@import 'deductions';

.container {
	position: relative;
	top: 20px;
}

#stances {
	position: absolute;
	left: 50%;
	top: 200px;
	width: 200px;
	margin-left: -120px;
	.btn-xs {
		font-size: 12pt;
		margin-top: -8px;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 112px;
	}

	.mandatory-stances {
		position: absolute;
		top: 0;
		font-size: 9pt;
		img { height: 100px; opacity: 0.25;  }
		width: 80px;
		text-align: center;
	}
	.done {
		color: lime;
		img { opacity: 1.0; filter: sepia( 100% ) saturate( 100000% ) hue-rotate(  40deg ); };
	}
	#hakdari-seogi { left: 0; }
	#beom-seogi    { left: 80px; }
	#dwigubi       { left: 160px; }
}

table {
	background-color: transparent !important;
	margin-bottom: 20px;
	width: 100%;
	th { 
		font-weight: normal;
		color: #ccc;
		width: 100px;
		padding-right: 8px;
	}
	td.button-group { 
		color: #999;
		font-size: 9pt;
		width: calc( 100% - 80px );
	}

	td[colspan='2'] {
		padding: 8px;
	}

	tr {
	}
}

#start { 
	margin-left: 10%;
	margin-right: 10%;
	width: 80%; 
}

.technical-component, .presentation-component {
	position: absolute;
	height: 88px;
	width: 88px;
	border-radius: 12px;
	border: 4px solid #999;

	.component-label {
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		width: 80px;
		padding: 4px 8px 4px 8px;
		border-radius: 8px 8px 0 0;
		color: white;
		font-size: 9pt;
		text-align: center;
	}
	.component-score {
		position: absolute;
		top: 40px;
		left: 0;
		height: 40px;
		width: 80px;
		padding: 8px;
		border-radius: 0 0 8px 8px;
		background-color: #666;
		color: #ccc;
		font-size: 32pt;
		line-height: 18pt;
		text-align: center;
	}
}

.technical-component {
	top: 154px;
	.component-label {
		background-color: #2a9fd6;
	}
}

#mandatory-foot-technique-1-score { left: 15px;                 }
#mandatory-foot-technique-2-score { left: calc(  20% -  13px ); }
#mandatory-foot-technique-3-score { left: calc(  40% -  31px ); }
#mandatory-foot-technique-4-score { left: calc(  60% -  53px ); }
#mandatory-foot-technique-5-score { left: calc(  80% -  76px ); }
#basic-movements-score            { left: calc( 100% - 103px ); }

.presentation-component {
	top: 344px;
	.component-label {
		background-color: #77b300;
	}
}

#creativity-score          { left: 0; }
#harmony-score             { left: calc(  33% -  29px ); }
#energy-score              { left: calc(  66% -  59px ); }
#choreography-score        { left: calc( 100% - 103px ); }

#controls {
	position: absolute;
	top: 266px;
	left: 15px;
	width: calc( 100% - 30px );
	img.mandatory-foot-technique-icon {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -110px;
	}
	#major-deductions {
		position: absolute;
		top: 0;
		left: 0;
	}

	#minor-deductions {
		position: absolute;
		top: 0;
		right: 0;
	}
}

#presentation {
	position: absolute;
	top: 160px;
	left: 15px;
	width: calc( 100% - 30px );
}

.alert-default, .btn-default {
	background-color: #777;
	border-color: #666;
}

.alert-default {
	color: white;
	font-size: 18pt;
	line-height: 18pt;
}

.btn-group[data-toggle=buttons] {
	width: 100%;
	.btn { width: 9%; }
}

.performance-description {
	width: 100%;
	vertical-align: bottom;
	.poor      { display: inline-block; text-align: center; width: 12% }
	.good      { display: inline-block; text-align: center; width: 22% }
	.very-good { display: inline-block; text-align: center; width: 25% }
	.excellent { display: inline-block; text-align: center; width: 28% }
	.perfect   { display: inline-block; text-align: center; width: 13% }
}

.subtotal {
	font-size: 40pt;
	line-height: 18pt;
	color: yellow;
}

