@font-face {
  font-family: Nimbus;
  src: url("/freescore/include/fonts/nimbus-sans-l_bold-condensed.ttf"); }
@font-face {
  font-family: Biolinum;
  font-weight: bold;
  src: url("/freescore/include/fonts/LinBiolinum_Rah.ttf"); }
.deductions {
  float: left;
  font-family: Optima, Biolinum;
  width: 188px;
  height: 354px;
  background: black;
  background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
  /* W3C */
  background: linear-gradient(to top, #45484d 0%, #000000 100%);
  /* W3C */
  border-radius: 16pt;
  border: 4px solid #999;
  margin: 0 6px 0 6px; }
  .deductions .deduction-button-small, .deductions .deduction-button-large {
    font-size: 18pt;
    width: 168px;
    border-radius: 12px;
    margin: 12px auto 12px auto;
    text-align: center; }
  .deductions .deduction-button-small {
    height: 48px;
    line-height: 32pt; }
  .deductions .deduction-button-large {
    height: 128px;
    line-height: 92pt; }
  .deductions .disabled {
    border: 4px solid #666;
    background: #e2e2e2;
    background: -webkit-linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    color: black; }
  .deductions .remove-minor {
    border: 4px solid green;
    background: #9dd53a;
    background: -webkit-linear-gradient(to bottom, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: linear-gradient(to bottom, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    color: black; }
  .deductions .add-minor {
    border: 4px solid blue;
    font-size: 36pt;
    background: #6db3f2;
    background: -webkit-linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    color: black; }
  .deductions .remove-major {
    border: 4px solid orange;
    background: #ffb76b;
    background: -webkit-linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
    color: black; }
  .deductions .add-major {
    border: 4px solid gold;
    font-size: 36pt;
    background: #fceabb;
    background: -webkit-linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    color: black; }
  .deductions .deduction-label {
    height: 32px;
    margin: 12px auto 12px auto;
    text-align: center;
    font-size: 14pt;
    color: #ccc; }
  .deductions .view {
    height: 80px;
    margin: 12px auto 12px auto;
    text-align: center;
    font-size: 64pt;
    line-height: 64pt;
    color: white; }

.container {
  position: relative;
  top: 20px; }

#stances {
  position: absolute;
  left: 50%;
  top: 200px;
  width: 200px;
  margin-left: -120px; }
  #stances .btn-xs {
    font-size: 12pt;
    margin-top: -8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 112px; }
  #stances .mandatory-stances {
    position: absolute;
    top: 0;
    font-size: 9pt;
    width: 80px;
    text-align: center; }
    #stances .mandatory-stances img {
      height: 100px;
      opacity: 0.25; }
  #stances .done {
    color: lime; }
    #stances .done img {
      opacity: 1.0;
      filter: sepia(100%) saturate(100000%) hue-rotate(40deg); }
  #stances .hakdari-seogi {
    left: 0; }
  #stances .beom-seogi {
    left: 80px; }
  #stances .dwigubi {
    left: 160px; }

table {
  background-color: transparent !important;
  margin-bottom: 20px;
  width: 100%; }
  table th {
    font-weight: normal;
    color: #ccc;
    width: 100px;
    padding-right: 8px; }
  table td.button-group {
    color: #999;
    font-size: 9pt;
    width: calc( 100% - 80px ); }
  table td[colspan='2'] {
    padding: 8px; }

#start, #deductions-done {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%; }

.technical-component, .presentation-component, .deduction-component {
  position: absolute;
  height: 88px;
  width: 88px;
  border-radius: 12px;
  border: 4px solid #999; }
  .technical-component .component-label, .presentation-component .component-label, .deduction-component .component-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 80px;
    padding: 4px 8px 4px 8px;
    border-radius: 8px 8px 0 0;
    color: white;
    font-size: 9pt;
    text-align: center; }
  .technical-component .component-score, .presentation-component .component-score, .deduction-component .component-score {
    position: absolute;
    top: 40px;
    left: 0;
    height: 40px;
    width: 80px;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    background-color: #666;
    color: #ccc;
    font-size: 32pt;
    line-height: 18pt;
    text-align: center; }

.technical-component .component-label {
  background-color: #2a9fd6; }

.technical-scores {
  position: absolute;
  width: 100%;
  top: 154px; }
  .technical-scores #mandatory-foot-technique-1-score {
    left: 15px; }
  .technical-scores #mandatory-foot-technique-2-score {
    left: calc(  20% -  13px ); }
  .technical-scores #mandatory-foot-technique-3-score {
    left: calc(  40% -  31px ); }
  .technical-scores #mandatory-foot-technique-4-score {
    left: calc(  60% -  53px ); }
  .technical-scores #mandatory-foot-technique-5-score {
    left: calc(  80% -  76px ); }
  .technical-scores #basic-movements-score {
    left: calc( 100% - 103px ); }

.docked {
  top: -16px; }
  .docked #mandatory-foot-technique-1-score {
    left: 240px; }
  .docked #mandatory-foot-technique-2-score {
    left: 340px; }
  .docked #mandatory-foot-technique-3-score {
    left: 440px; }
  .docked #mandatory-foot-technique-4-score {
    left: 540px; }
  .docked #mandatory-foot-technique-5-score {
    left: 640px; }
  .docked #basic-movements-score {
    left: 740px; }

#presentation {
  position: absolute;
  top: 100px;
  left: 15px;
  width: calc( 100% - 30px ); }

.presentation-component .component-label {
  background-color: #77b300; }

.presentation-scores {
  position: absolute;
  width: 100%;
  top: -16px; }
  .presentation-scores #creativity-score {
    left: 0; }
  .presentation-scores #harmony-score {
    left: calc(  33% - 29px ); }
  .presentation-scores #energy-score {
    left: calc(  66% - 59px ); }
  .presentation-scores #choreography-score {
    left: calc( 100% - 88px ); }

.docked {
  top: -16px; }
  .docked #creativity-score {
    left: 240px; }
  .docked #harmony-score {
    left: 340px; }
  .docked #energy-score {
    left: 440px; }
  .docked #choreography-score {
    left: 540px; }

#controls {
  position: absolute;
  top: 266px;
  left: 15px;
  width: calc( 100% - 30px ); }
  #controls img.mandatory-foot-technique-icon {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -110px; }
  #controls #major-deductions {
    position: absolute;
    top: 0;
    left: 0; }
  #controls #minor-deductions {
    position: absolute;
    top: 0;
    right: 0; }

.alert-default, .btn-default {
  background-color: #777;
  border-color: #666; }

.alert-default, .alert-success {
  color: white;
  font-size: 18pt;
  line-height: 18pt; }

.btn-group[data-toggle=buttons] {
  width: 100%; }
  .btn-group[data-toggle=buttons] .btn {
    width: 9%; }

.performance-description {
  width: 100%;
  vertical-align: bottom; }
  .performance-description .poor {
    display: inline-block;
    text-align: center;
    width: 12%; }
  .performance-description .good {
    display: inline-block;
    text-align: center;
    width: 22%; }
  .performance-description .very-good {
    display: inline-block;
    text-align: center;
    width: 25%; }
  .performance-description .excellent {
    display: inline-block;
    text-align: center;
    width: 28%; }
  .performance-description .perfect {
    display: inline-block;
    text-align: center;
    width: 13%; }

.subtotal {
  font-size: 40pt;
  line-height: 18pt; }

#technical-skills .subtotal {
  color: #2a9fd6; }

#presentation .subtotal {
  color: #77b300; }

#deductions .subtotal {
  color: #ba1f1f; }

#total .subtotal {
  color: white; }

#deductions {
  position: absolute;
  width: calc( 100% - 30px );
  top: 200px; }
  #deductions #timeline {
    display: inline-block;
    width: 100%;
    overflow-y: auto; }
  #deductions .timeline-heading .points {
    color: green; }
  #deductions .timeline-heading .deduction {
    color: red; }
  #deductions .timeline-item {
    height: 200px !important;
    min-width: 200px !important; }
    #deductions .timeline-item .timeline-badge {
      font-size: 28pt !important;
      line-height: 38pt !important; }
      #deductions .timeline-item .timeline-badge img {
        height: 48px; }
    #deductions .timeline-item .timeline-panel {
      border-radius: 6px !important;
      padding: 10px !important; }
      #deductions .timeline-item .timeline-panel .timeline-heading h4.timeline-title {
        font-size: 12pt !important;
        margin-bottom: 6px !important; }
      #deductions .timeline-item .timeline-panel .timeline-heading .timeline-notes {
        font-size: 9pt !important;
        margin-bottom: 6px !important; }
      #deductions .timeline-item .timeline-panel .timeline-body {
        font-size: 9pt !important; }
  #deductions .deduction-component .component-label {
    background-color: #ba1f1f; }
  #deductions .deduction-scores {
    position: absolute;
    width: 100%;
    top: -16px; }
    #deductions .deduction-scores #major-deduction-score {
      left: 240px; }
    #deductions .deduction-scores #minor-deduction-score {
      left: 340px; }
    #deductions .deduction-scores #mandatory-stances-score {
      left: 340px; }
  #deductions #stance-deductions {
    position: absolute;
    left: 440px;
    top: -16px;
    width: 200px; }
    #deductions #stance-deductions .btn-xs {
      font-size: 12pt;
      margin-top: -8px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 112px; }
    #deductions #stance-deductions .mandatory-stances {
      position: absolute;
      top: 0;
      font-size: 9pt;
      width: 80px;
      text-align: center;
      color: #ba1f1f; }
      #deductions #stance-deductions .mandatory-stances img {
        height: 80px; }
      #deductions #stance-deductions .mandatory-stances img {
        opacity: 1.0;
        filter: sepia(100%) brightness(10%) saturate(100000%) hue-rotate(280deg); }
    #deductions #stance-deductions .done {
      color: #999; }
      #deductions #stance-deductions .done img {
        opacity: 0.2;
        filter: sepia(0%) saturate(100%) hue-rotate(-280deg); }
    #deductions #stance-deductions .hakdari-seogi {
      left: 0; }
    #deductions #stance-deductions .beom-seogi {
      left: 80px; }
    #deductions #stance-deductions .dwigubi {
      left: 160px; }

#total {
  position: absolute;
  left: 15px;
  top: 540px;
  width: calc( 100% - 30px ); }

/*# sourceMappingURL=judgeController.css.map */
