$condensed-font-stack: FjallaOne, Barlow;
#announcer {
	margin-top: 4px;
}
#clock {
	color: lime;
	margin-left: 20px;
}

#divisions-view {
	width: 100%;

	td {
		width: 25%;
		vertical-align: top;

		.division-view {
			width: calc( 100% - 8px );
			margin: 4px 0 4px 8px;
			border-radius: 4px;

			.key-info {
				position: relative;
				font-family: $condensed-font-stack;
				font-size: 14pt;
				width: 100%;
				height: 32px;
				padding: 4px;
				color: white;
				border-radius: 4px 4px 0 0;

				.division-summary {
					height: 32px;
					width: calc( 100% - 60px );
					white-space: nowrap;
					overflow-x: hidden;
					overflow-y: hidden;

					.divid {
						opacity: 0.65;
					}

					.description {
						font-size: 12pt;
					}
				}
				.division-start {
					position: absolute;
					top: 0;
					right: 4px;
					width: 60px;
					color: white;
					font-family: $condensed-font-stack;
					font-size: 10pt;
					text-align: right;

					.remaining {
						font-size: 8pt;
					}
				}
			}

			&.bg-success .key-info { background-color: #5cb85c; border: 1px solid #4cae4c; }
			&.bg-warning .key-info { background-color: #f0ad4e; border: 1px solid #eea236; }
			&.bg-danger  .key-info { background-color: #d9534f; border: 1px solid #d43f3a; }


			.athletes {
				font-size: 10pt;
				padding: 4px;
				position: relative;
				min-height: 80px;

				.athlete-list {
					width: calc( 100% - 80px );
					border-radius: 4px;
					background-color: rgba( 255, 255, 255, 0.3 );
					padding: 4px;
				}
				.count {
					position: absolute;
					top: 36px;
					right: 32px;
					font-size: 18pt;
				}
				.checkin-status {
					position: absolute;
					top: 8px;
					right: 8px;
					width: 64px;
					height: 64px;
					border-radius: 8px;

					.fa,.fas {
						padding: 8px;
						font-size: 48px;
						line-height: 48px;
						color: white;
					}
				}
			}

			&.bg-success .athletes .checkin-status { background-color: #5cb85c; border: 1px solid #4cae4c; }
			&.bg-warning .athletes .checkin-status { background-color: #f0ad4e; border: 1px solid #eea236; }
			&.bg-danger  .athletes .checkin-status { background-color: #d9534f; border: 1px solid #d43f3a; }

		}
	}
}

#athletes-view {
	width: 100%;

	td {
		width: 25%;
		padding: 0 8px 0 8px;
		vertical-align: top;

		ul { width: 100%; }
		li {
			button {
				width: 48px;
				margin-left: 8px;
			}
		}
	}
}

