
#announcer {
	margin-top: 4px;
}

#divisions-view {
	width: 100%;

	td {
		width: 25%;

		.division-view {
			padding: 8px;
			width: calc( 100% - 8px );
			margin-left: 4px;
			margin-right: 4px;
			margin-bottom: 8px;
		}
	}
}
