@font-face {
  font-family: "Lato";
  src: url("/include/fonts/Lato-Regular.ttf"), url("/freescore/include/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("/include/fonts/Lato-Italic.ttf"), url("/freescore/include/fonts/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("/include/fonts/Lato-Bold.ttf"), url("/freescore/include/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("/include/fonts/Lato-BoldItalic.ttf"), url("/freescore/include/fonts/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Biolinum";
  src: url("/include/fonts/LinBiolinum_Rah.ttf"), url("/freescore/include/fonts/LinBiolinum_Rah.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("/include/fonts/BarlowCondensed-Bold.ttf"), url("/freescore/include/fonts/BarlowCondensed-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FjallaOne";
  src: url("/include/fonts/FjallaOne-Regular.ttf"), url("/freescore/include/fonts/FjallaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/include/bootstrap/fonts/glyphicons-halflings-regular.ttf"), url("/freescore/include/bootstrap/fonts/glyphicons-halflings-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #45484d;
  background: -webkit-linear-gradient(to bottom, #45484d 0%, #000000 100%);
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  font-family: Optima, Biolinum, Lato;
}

#breaking-display {
  position: absolute;
  background: #45484d;
  background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
  background: linear-gradient(to top, #45484d 0%, #000000 100%);
  font-size: 2em;
  width: 1192px;
  height: 632px;
  margin: 20px;
  border: 4px solid white;
  border-radius: 16px;
  padding: 20px;
  color: white;
}
#breaking-display .division-summary {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1192px;
  text-align: center;
  color: grey;
}
#breaking-display .athlete-info {
  position: absolute;
  top: 58px;
  left: 20px;
  width: 1192px;
  height: 120px;
}
#breaking-display .athlete-info .athlete-noc {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 180px;
}
#breaking-display .athlete-info .athlete-noc img {
  height: 80px;
  width: 80px;
}
#breaking-display .athlete-info .athlete-name {
  position: absolute;
  top: 0;
  left: 180px;
  height: 80px;
  width: 832px;
  font-size: 2.5em;
  line-height: 1em;
  text-align: center;
  color: yellow;
}
#breaking-display .athlete-info .athlete-boards {
  position: absolute;
  top: 80px;
  left: 496px;
  height: 80px;
  width: 200px;
  text-align: center;
}
#breaking-display .timer-display {
  position: absolute;
  top: 58px;
  right: 20px;
  height: 80px;
  width: 180px;
  font-size: 1.8em;
  color: lime;
}
#breaking-display .timer-display .fas {
  font-size: 0.66em;
  color: grey;
}
#breaking-display .judge-scores {
  position: absolute;
  top: 192px;
  left: 0;
}
#breaking-display .judge-scores .score {
  width: 540px;
  text-align: center;
  color: #999;
  font-size: 2em;
  line-height: 1.2em;
}
#breaking-display .judge-scores .score:last-child label {
  border-radius: 0 0 0 12px;
}
#breaking-display .judge-scores .score.judges3 {
  height: 120px;
  font-size: 2.5em;
  line-height: 1.5em;
}
#breaking-display .judge-scores .score.judges5 {
  height: 80px;
  font-size: 2em;
  line-height: 1em;
}
#breaking-display .judge-scores .score label {
  display: block;
  background: black;
  background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
  background: linear-gradient(to top, #45484d 0%, #000000 100%);
}
#breaking-display .judge-scores .score label, #breaking-display .judge-scores .score .tech, #breaking-display .judge-scores .score .pres, #breaking-display .judge-scores .score .received {
  position: absolute;
  width: 180px;
  text-align: center;
  background: black;
  background: -webkit-linear-gradient(to top, #45484d 0%, #000000 100%);
  background: linear-gradient(to top, #45484d 0%, #000000 100%);
}
#breaking-display .judge-scores .score label.judges3, #breaking-display .judge-scores .score .tech.judges3, #breaking-display .judge-scores .score .pres.judges3, #breaking-display .judge-scores .score .received.judges3 {
  height: 120px;
}
#breaking-display .judge-scores .score label.judges5, #breaking-display .judge-scores .score .tech.judges5, #breaking-display .judge-scores .score .pres.judges5, #breaking-display .judge-scores .score .received.judges5 {
  height: 80px;
}
#breaking-display .judge-scores .score .tech {
  left: 182px;
  width: 180px;
  color: #f99;
}
#breaking-display .judge-scores .score .tech.ignore {
  color: #c66;
  opacity: 0.75;
  text-decoration: line-through;
}
#breaking-display .judge-scores .score .pres {
  left: 364px;
  width: 180px;
  color: #99f;
}
#breaking-display .judge-scores .score .pres.ignore {
  color: #66c;
  opacity: 0.75;
  text-decoration: line-through;
}
#breaking-display .judge-scores .score .received {
  left: 182px;
  width: 362px;
  color: #0c0;
}
#breaking-display .score-display {
  position: absolute;
  top: 192px;
  left: 564px;
  width: 588px;
  height: 400px;
  border: 4px solid white;
  padding: 20px;
  border-radius: 12px;
  background: #45484d;
  background: -webkit-linear-gradient(to bottom, #45484d 0%, #000000 100%);
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
}
#breaking-display .score-display .subtotal, #breaking-display .score-display .deductions {
  position: absolute;
  top: 0;
  font-size: 0.5em;
  height: 40px;
  text-align: center;
}
#breaking-display .score-display .subtotal span, #breaking-display .score-display .deductions span {
  display: block;
  font-size: 2.5em;
}
#breaking-display .score-display .subtotal {
  left: 0;
  width: 196px;
}
#breaking-display .score-display .subtotal span {
  color: gold;
}
#breaking-display .score-display .deductions {
  position: absolute;
  width: 588px;
}
#breaking-display .score-display .deductions .tech, #breaking-display .score-display .deductions .proc {
  position: absolute;
  width: 196px;
}
#breaking-display .score-display .deductions .tech span, #breaking-display .score-display .deductions .proc span {
  display: block;
}
#breaking-display .score-display .deductions .tech {
  left: 196px;
}
#breaking-display .score-display .deductions .tech span {
  color: cyan;
}
#breaking-display .score-display .deductions .proc {
  left: 392px;
}
#breaking-display .score-display .deductions .proc span {
  color: magenta;
}
#breaking-display .score-display .total {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 588px;
  height: 320px;
  text-align: center;
}
#breaking-display .score-display .total span {
  display: block;
  color: lime;
  font-size: 9em;
  line-height: 1em;
  width: 588px;
}

/*# sourceMappingURL=display.css.map */
