@import 'fonts';
$jsi-border-radius: 16px;

body {
	background-color: black;
	padding: 8px;
	font-family: Optima, Biolinum, Lato;
}

.judge-scoring-interface {
	font-size: 1.6em;
	width: 808px;
	height: 584px;
	margin: 0%;
	border: 4px solid white;
	border-radius: $jsi-border-radius;

	.judge-tool-nav {
		padding: 2px;
		ul li {
			&:first-child { a { border-radius: 12px 4px 4px 4px; }}
			&:last-child  { a { border-radius: 4px 12px 4px 4px; }}
		}
	}

	.judge-tools {
		width: 800px;
		height: 519px;
		padding: 2.5% 2.5% 0% 2.5%;
		background: linear-gradient( to top, #45484d 0%, #000000 100% );
		border-radius: 0 0 12px 12px;
		color: white;

		overflow-y: auto;

		@import 'deductions';
		@import 'scoring';
		@import 'inspection';
		@import 'help';
	}
}
