@font-face {
  font-family: 'Lato';
  src: url("/include/fonts/Lato-Regular.ttf"), url("/freescore/include/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/include/fonts/Lato-Italic.ttf"), url("/freescore/include/fonts/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/include/fonts/Lato-Bold.ttf"), url("/freescore/include/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/include/fonts/Lato-BoldItalic.ttf"), url("/freescore/include/fonts/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Biolinum';
  src: url("/include/fonts/LinBiolinum_Rah.ttf"), url("/freescore/include/fonts/LinBiolinum_Rah.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Barlow';
  src: url("/include/fonts/BarlowCondensed-Bold.ttf"), url("/freescore/include/fonts/BarlowCondensed-Bold.ttf");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Optima, Barlow; }

.dropdown-toggle {
  border: 0;
  margin-top: -4px;
  margin-right: 20px;
  background: transparent;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  outline: none; }

.panel-footer {
  background-color: #eee; }

.CodeMirror {
  border-radius: 6px; }
  .CodeMirror pre {
    font-family: Optima, Barlow;
    font-size: 18pt; }

.CodeMirror-linenumber {
  font-family: Optima, Barlow;
  font-size: 18pt; }

.division-header {
  margin-bottom: 2px; }

.panel-heading div.panel-title:after {
  font-family: 'Glyphicons Halflings';
  content: "\270f";
  float: right;
  color: white; }

.panel-title .title {
  display: inline-block;
  width: 100px; }
.panel-title .setting {
  color: #f0ad4e; }
.panel-title .meta {
  padding: 2px 8px 2px 0;
  color: #7ec5ff; }
.panel-title .forms {
  margin-right: 40px; }

.division-setting .settings-content {
  height: 72;
  padding: 8px; }
.division-setting .description-content, .division-setting .form-selection-content {
  height: 160px;
  padding: 8px; }
.division-setting .nav-pills {
  float: left;
  width: 120px;
  margin-right: 20px; }
  .division-setting .nav-pills .active a {
    background: none !important;
    color: #777 !important; }
  .division-setting .nav-pills .active:not(.disabled) a {
    background: linear-gradient(to bottom, #5cb85c 0, #419641 100%) !important;
    color: white !important;
    text-shadow: 0 1px 0 #000;
    border-color: #3e8f3e; }
.division-setting .tab-content .btn.active, .division-setting .settings-content .btn.active {
  background: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
  color: white;
  text-shadow: 0 1px 0 #000;
  border-color: #3e8f3e; }
.division-setting .tab-content {
  float: left;
  width: calc( 100% - 140px ); }
  .division-setting .tab-content .bootstrap-select {
    width: 120px !important; }
  .division-setting .tab-content #individual {
    position: relative;
    top: 4px;
    left: 0; }
  .division-setting .tab-content #pair {
    position: relative;
    top: 44px;
    left: 0; }
  .division-setting .tab-content #team {
    position: relative;
    top: 88px;
    left: 0; }
.division-setting .bootstrap-switch {
  height: 32px; }

#user-message {
  line-height: 24pt;
  font-size: 14pt;
  color: #a94442;
  margin-left: 10px;
  margin-right: 10px; }

/*# sourceMappingURL=editor.css.map */
