@import '../fonts';

body {
	font-family: $text-font-stack;
}

.dropdown-toggle {
	border: 0; 
	margin-top: -4px;
	margin-right: 20px;
	background: transparent; 
	-webkit-appearance: none; 
	-webkit-box-shadow: none; 
	outline: none;
}

.panel-footer {
	background-color: #eee;
}

.CodeMirror {
	border-radius: 6px;
	pre {
		font-family: $text-font-stack;
		font-size: 18pt;
	}
}

.CodeMirror-linenumber {
	font-family: $text-font-stack;
	font-size: 18pt;
}

.division-header {
	margin-bottom: 2px;
}

.panel-heading div.panel-title:after {
	font-family: 'Glyphicons Halflings';
	content:"\270f";
	float: right;
	color: white;
}

.panel-title {
	.title {
		display: inline-block;
		width: 100px;
	}

	.setting {
		color: #f0ad4e;
	}

	.meta {
		padding: 2px 8px 2px 0;
		color: #7ec5ff;
	}

	.forms {
		margin-right: 40px;
	}
}

.division-setting {
	.settings-content {
		height: 72;
		padding: 8px;
	}
	.description-content, .form-selection-content {
		height: 160px;
		padding: 8px;
	}
	.nav-pills {
		float: left;
		width: 120px;
		margin-right: 20px;

		.active {
			a {
				background: none !important;
				color: #777 !important;
			}

			&:not(.disabled) a {
				background: linear-gradient(to bottom,#5cb85c 0,#419641 100%) !important;
				color: white !important;
				text-shadow: 0 1px 0 #000;
				border-color: #3e8f3e;
			}
		}
	
	}
	.tab-content, .settings-content {
		.btn.active {
			background: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
			color: white;
			text-shadow: 0 1px 0 #000;
			border-color: #3e8f3e;
		}
	}

	.tab-content {
		float: left;
		width: calc( 100% - 140px );

		.bootstrap-select {
			width: 120px !important;
		}

		#individual {
			position: relative;
			top: 4px;
			left: 0;
		}
		#pair {
			position: relative;
			top: 44px;
			left: 0;
		}
		#team {
			position: relative;
			top: 88px;
			left: 0;
		}
	}

	.bootstrap-switch {
		height: 32px;
	}
}

#user-message {
	line-height: 24pt;
	font-size: 14pt;
	color: #a94442;
	margin-left: 10px;
	margin-right: 10px;
}
