.flippable {
  -webkit-perspective: 1000; }
  .flippable .flipped {
    -webkit-transform: rotateY(180deg); }
  .flippable .spun {
    -webkit-transform: rotateY(-180deg); }
  .flippable .card {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    position: relative; }
    .flippable .card .front, .flippable .card .back {
      -webkit-backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0; }
    .flippable .card .front {
      z-index: 2; }
    .flippable .card .back {
      -webkit-transform: rotateY(180deg); }
