.flippable {
	-webkit-perspective: 1000; 
	.flipped, .flipy { -webkit-transform: rotateY(180deg); }
	.flipx           { -webkit-transform: rotateX(180deg); }
	.spun            { -webkit-transform: rotateY(-180deg); }
	.card { 
		-webkit-transition: 0.6s; 
		-webkit-transform-style: preserve-3d; 
		position: relative; 
		.front, .back {
			-webkit-backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0; 
		}
		.front { z-index: 2; }
		.back  { -webkit-transform: rotateY(180deg); }
	}
}
