@media screen {
	body {
		font-family: Calibri, Helvetica, Arial, sans-serif;
		color: #000;
		background-color: #eee;
		background-image: url( '/freescore/images/subtlepatterns.com/witewall_3.png' );
	}

	h1 {
		font-size: 24pt;
		color: white;
		border-radius: 8px;
		background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C -- http://www.colorzilla.com/gradient-editor */
		padding-left: 20px;
	}

	h2 {
		font-size: 18pt;
		border-radius: 8px;
		color: #333;
		padding-left: 20px;
		background-color: #fff;
		border: 1px solid #333;
	}

	h2 .event {
		float: left;
	}

	h2 .division-id {
		float: right;
		margin-right: 40px;
	}

	h2 .division-id .barcode {
		display: none;
	}

	.meta {
		clear: both;
		margin-left: 20px;
	}

	.meta .keyword {
		float: left;
		width: 120px;
		font-weight: bold;
	}

	.meta .value .reference {
		color: #999;
	}

	.athlete {
		background-color: #fff;
		color: #333;
		padding-left: 20px;
	}

	.athlete .id {
		display: inline-block;
		color: #ccc;
		width: 32px;
	}

	.athlete .name {
		display: inline-block;
	}

	.athlete .age-weight {
		display: inline-block;
		color: #666;
		float: right;
		padding-right: 12px;
	}

	.division {
		padding: 0 0 12px 0;
		page-break-inside: avoid;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 8px;
		margin: 20px 4px 20px 4px;
	}

	.description {
		background-color: #ccc;
		border-radius: 8px 8px 0 0 ;
		color: #333;
		font-size: 9pt;
		padding: 0 0 0 10px;
	}

	.subdivision {
		float: right;
		padding-right: 12px;
	}
}

@media print {
	body {
		font-family: Calibri, Helvetica, Arial, sans-serif;
	}

	h1 {
		font-size: 24pt;
		border-top: 4px solid black;
	}

	h2 {
		font-size: 18pt;
		border-top: 2px solid #666;
	}

	h2 .event {
		float: left;
	}

	h2 .division-id {
		float: right;
	}

	h2 .division-id .id {
		vertical-align: top;
	}

	h2 .division-id .barcode {
		margin-left: 20px;
	}

 	#meta {
		clear: both;
		margin: 0 20px 0 20px;
		border-radius: 8px;
		border: solid 1px black;
		padding: 8px;
		margin-bottom: 20px;
	}

	#meta .keyword {
		float: left;
		width: 120px;
		font-weight: bold;
	}

	#meta .value .reference {
		color: #999;
	}

	.athlete {
		padding-left: 20px;
	}

	.athlete .id {
		color: #999;
	}

	.athlete .age-weight {
		color: #666;
		float: right;
		padding-right: 12px;
	}

	.division {
		padding: 0 0 12px 0;
		page-break-inside: avoid;
	}

	.description {
		color: #333;
		font-size: 9pt;
		padding: 0 0 0 4px;
		border-bottom: 1px solid #ddd;
	}

	.subdivision {
		float: right;
		padding-right: 12px;
	}
}
