@import 'fonts';

.page-footer, .page-header { text-align: center; p.text-primary { font-size: 2em; }}

.password-input {
	margin: auto;
	width: 400px;
	.code-display {
		margin-left: 34px;
		margin-right: 34px;
		input {
			width: 80px;
			font-size: 3em;
			text-align: center;
			color: black;
		}
	}
	.number-pad {
		margin-left: 75px;
		margin-right: 75px;

		.number-pad-row {
			margin-top: 12px;

			.btn-numeric, .btn-clear, .btn-back {
				width: 80px;
				color: black;
			}

			.btn-login {
				width: 248px;
				color: white;
				margin-bottom: 20px;
				font-size: 2em;
			}

			.btn-numeric { font-size: 2em; }
			.btn-clear, .btn-back { font-size: 1.6em; line-height: 1.786em; }
		}
	}
}

