.slidable {
	.above, .below, .left, .right { position: absolute; }
	.above { -webkit-transform: translateY( -100% ); }
	.below { -webkit-transform: translateY(  100% ); }
	.left  { -webkit-transform: translateX( -100% ); }
	.right { -webkit-transform: translateX(  100% ); }

	.above-in { -webkit-animation: above-in 0.5s forwards; }
	.below-in { -webkit-animation: below-in 0.5s forwards; }
	.left-in  { -webkit-animation: left-in  0.5s forwards; }
	.right-in { -webkit-animation: right-in 0.5s forwards; }

	@-webkit-keyframes above-in { 100% { -webkit-transform: translateY( 0% ); } }
	@-webkit-keyframes below-in { 100% { -webkit-transform: translateY( 0% ); } }
	@-webkit-keyframes left-in  { 100% { -webkit-transform: translateX( 0% ); } }
	@-webkit-keyframes right-in { 100% { -webkit-transform: translateX( 0% ); } }

	.above-out { -webkit-animation: above-out 0.5s forwards; }
	.below-out { -webkit-animation: below-out 0.5s forwards; }
	.left-out  { -webkit-animation: left-out  0.5s forwards; }
	.right-out { -webkit-animation: right-out 0.5s forwards; }

	@-webkit-keyframes above-out { 0% { -webkit-transform: translateY( 0% ); } 100% { -webkit-transform: translateY( -100% ); } }
	@-webkit-keyframes below-out { 0% { -webkit-transform: translateY( 0% ); } 100% { -webkit-transform: translateY(  100% ); } }
	@-webkit-keyframes left-out  { 0% { -webkit-transform: translateY( 0% ); } 100% { -webkit-transform: translateX( -100% ); } }
	@-webkit-keyframes right-out { 0% { -webkit-transform: translateY( 0% ); } 100% { -webkit-transform: translateX(  100% ); } }

}
