body {
	font-family: Calibri, Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #eee;
	background-image: url( '/freescore/images/subtlepatterns.com/slate_dust_scratch.png' );
}

.staging-header {
	height: 120;

	h1 {
		font-size: 24pt;
		color: white;
		border-radius: 8px;
		background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C -- http://www.colorzilla.com/gradient-editor */
		padding-left: 20px;
	}

	h2 {
		font-size: 18pt;
		border-radius: 8px;
		color: #333;
		padding-left: 20px;
		background-color: #fff;
		border: 1px solid #333;
	}
}

.staging {
	position: absolute;
	left: 40px;
	top: 120px;
	right: 40px;
	bottom: 40px;
	border: 6px solid #336;
	border-radius: 16px;
	margin: 0 40px 0 40px;
	background-image: url( '/freescore/images/subtlepatterns.com/witewall_3.png' );

	.buttons {
		.button {
			float: left;
			font-weight: bold;
			font-size: 24pt;
			color: #666;
			width: 33.333%;
			text-align: center;
			background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C -- http://www.colorzilla.com/gradient-editor */
			border-bottom: 2px solid #336;
			height: 40px;
			transition: all 0.5s ease;
		}
		.split {
			border-radius: 8px 0 0 0;
		}
		.assign {
			border-radius: 0 8px 0 0;
		}

		.state-enabled {
			cursor: hand;
			color: #ccc;
			background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C -- http://www.colorzilla.com/gradient-editor */
			transition: all 0.5s ease;
		}

		.state-hover {
			color: #fff;
			background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
			transition: all 0.5s ease;
		}
	}

	.dialog {
		position: absolute;
		width: 100%;
		opacity: 0.0;
		transition: all 0.5s ease;
	}

	.merge-dialog {
		left: 33.33%;
		width: 33.33%;

		.division-visualization {
			height: 100%;
			width: 100%;
		}
	}

	.split-dialog {
		left: 0px;
		width: 33.33%
	}

	.assign-dialog {
		left: 66.66%;
		width: 33.33%
	}

	.state-show-dialog {
		position: absolute;
		left: 0;
		top: 42px;
		right: 0px;
		bottom: 28px;
		width: 100%;
		background-color: #fff;
		opacity: 1.0;
		transition: all 0.5s ease;
	}

	.divisions {
		position: absolute;
		left: 18px;
		top: 42px;
		right: 0px;
		bottom: 28px;
		clear: both;
		margin: 0 auto;
		padding-right: 18px;
		overflow-y: scroll;

		.division {
			cursor: hand;
			padding: 0 0 12px 0;
			background-color: #fff;
			page-break-inside: avoid;
			border: 4px solid #ccc;
			border-radius: 8px;
			margin: 20px 4px 20px 4px;

			.header {
				clear: both;
				color: #333;
				font-size: 9pt;
				padding: 0 12px 0 20px;
				margin-bottom: 4px;
				border-radius: 4px 4px 0 0;

				.id {
					float: left;
					width: 48px;
				}

				.description {
					float: left;
					width: 360px;
				}

				.message {
					display: inline-block;
					width: 360px;

					.ui-icon {
						margin-right: 8px;
						float: left;
					}
				}

				.weight {
					float: right;
				}
			}

			.athletes {
				clear: both;

				.athlete {
					color: #333;
					padding-left: 20px;

					.id {
						display: inline-block;
						color: #ccc;
						width: 48px;
					}

					.name {
						display: inline-block;
					}

					.age-weight {
						display: inline-block;
						color: #666;
						float: right;
						padding-right: 12px;
					}
				}
			}
		}

		.state-error { 
			border-color: #f66; 
			transition: all 0.25s ease;
			.header {
				background-color: #f99;
				.message {
					.ui-icon {
						background-image: url( '../jquery/css/smoothness/images/ui-icons_cd0a0a_256x240.png' );
					}
				}
			}
		}

		.state-error-selecting {
			border-color: #f00; 
			background-color: #fcc;
			transition: all 0.25s ease;
			.header {
				background-color: #f66;
				.message {
					.ui-icon {
						background-image: url( '../jquery/css/smoothness/images/ui-icons_cd0a0a_256x240.png' );
					}
				}
			}
		}

		.state-warning { 
			border-color: #ff6; 
			transition: all 0.25s ease;
			.header {
				background-color: #ff9;
				.message {
					.ui-icon {
						background-image: url( '../jquery/css/smoothness/images/ui-icons_222222_256x240.png' );
					}
				}
			}
		}

		.state-warning-selecting { 
			border-color: #ff0; 
			background-color: #ffc;
			transition: all 0.25s ease;
			.header {
				background-color: #ff6;
				.message {
					.ui-icon {
						background-image: url( '../jquery/css/smoothness/images/ui-icons_222222_256x240.png' );
					}
				}
			}
		}

		.state-ok { 
			border-color: #9c9; 
			transition: all 0.25s ease;
			.header {
				background-color: #cfc;
				.message {
					.ui-icon {
						background-image: url( '../jquery/css/smoothness/images/ui-icons_454545_256x240.png' );
					}
				}
			}
		}

		.state-ok-selecting { 
			border-color: #0c0; 
			background-color: #cfc;
			transition: all 0.25s ease;
			.header {
				background-color: #3f3;
				.message {
					.ui-icon {
						background-image: url( '../jquery/css/smoothness/images/ui-icons_454545_256x240.png' );
					}
				}
			}
		}

		.state-selected { 
			border-color: #66f; 
			background-color: #fff;
			transition: all 0.25s ease;
			.header {
				background-color: #99f;
			}
		}
		.state-selected-selecting { 
			border-color: #00f; 
			background-color: #ccf;
			transition: all 0.25s ease;
			.header {
				background-color: #33f;
			}
		}
	}

	.user-message {
		left: 0px;
		right: 0px;
		position: absolute;
		color: #333;
		background: #eee;
		border-top: 2px solid #336;
		border-radius: 0 0 8px 8px;
		padding: 4px 8px 4px 8px;
		bottom: 0px;
	}
}
