#athletes-registered, #athletes-confirmed {
	.go-down {
		cursor: s-resize;
	}
	.go-top {
		cursor: n-resize;
		&:hover {
			text-decoration: none;
		}
	}

	.div-list-for-athlete {
		.btn {
			min-width: 60px;
			margin-left: 4px;
			margin-right: 4px;
		}
	}
}

